/* 
    Document   : dialog
    Created on : 12.05.2012, 14:05:05
    Author     : errorman
    Description:
        Purpose of the stylesheet follows.
*/
/*@font-face {font-family: "Tahoma","Sans-serif";src: url("/static/css/mediastorage/index/Segoe_UI.ttf");}*/
div.dialog_container{

}
div.dialog_container div.dialog{
    position: absolute;
    top:40%;
    left: 50%;

    /* margin-left вычислятся должен динамически -(Math.ceil(width/2)) */
    margin-left: -226px;

    min-height: 231px;
    min-width: 453px;
    padding-bottom: 5px;
    border:solid 1px #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    z-index: 999;
    overflow: hidden;
    font-family: "Tahoma","Sans-serif";
    
background: #6d88b5;
background: -moz-linear-gradient(top,  #6d88b5 0%, #4b5580 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d88b5), color-stop(100%,#4b5580));
background: -webkit-linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
background: -o-linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
background: -ms-linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
background: linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d88b5', endColorstr='#4b5580',GradientType=0 );

    
    
}
div.dialog_container div.dialog div.buttons div { 
width: 26px;
cursor: pointer;
float: left;
height: 24px;
margin-right: 2px;
}
div.dialog_container div.buttons div.select { 
background-position: 0px -24px;
}
div.dialog_container div.dialog.files{
    padding-bottom: 5px;
}

div.dialog_container div.dialog.files .d_body{
    padding: 0; 
}

div.dialog_container div.dialog div.d_title{
    width: 100%;
    height: 40px;
    position: relative;
}

div.dialog_container div.dialog div.brd_brown_1 {
     border: 1px solid #48443E;
     margin: 0 5px;
}

div.dialog_container div.dialog div.d_body{
    min-width: 412px;
    padding: 15px;    
    min-height: 165px;
    margin: 0 5px;
    border: 1px solid #C9C8C8;
    border-left: none;
    border-top: none;
    background-color: #fff;
    color: #000;
    font-size: 14px;
}

div.dialog_container div.dialog div.d_body .signe {
background: url('/static/img/!signe.png') 0% 0% no-repeat #FFFFFF;
color: #AA4492;
font-size: 16px;
padding: 0 0 0 27px;
}
div.dialog_container div.dialog div.d_body .signe span {
    display: block; font-size: 9px; color: #6B6966;
}
div.dialog_container div.dialog div.d_body input.d_input {
    border: 1px solid #AFAFAF; width: 230px; height: 23px; margin-left: 27px; margin-top: 35px; border-radius: 1px; -webkit-border-radius: 1px; -moz-border-radius: 1px;
}

div.dialog_container div.dialog.newstyle{
    min-width: 650px;
    border-color: #c8c8c8;
    min-height: 0;
    background-color: #f6f6f6;
}
div.dialog_container div.dialog.newstyle div.d_body{
    margin: 0;
    border-radius: 3px;
    padding: 0;
    border: none;
    background: none;
    margin: 14px;

    /*    min-height: */
}

div.dialog_container div.dialog div.brd_brown_1 div.d_body,div.dialog_container div.dialog div.brd_brown_1 div.bottom_but {margin: 0;}



div.dialog_container div.dialog.newstyle .d_title{
    box-shadow: 0 0 10px #000000;
}

div.dialog_container div.dialog div.d_title span{
    color: #fff;
    font-size: 14px;
    display: block;
    padding-top: 12px;
    padding-left: 10px;
    width: 395px;
    overflow: hidden;
}

div.dialog_container div.dialog a.d_close{
    height: 20px;
    width: 40px;
    display: block;
    background-image: url("/static/img/mediastorage/dialog/close.png");
    background-position: 100% 0;
    position: absolute;
    right: 3px;
    top: 0;
    background-position: 80px 0;
    /*    border:1px solid #000;
        border-top:0;
        border-radius: 3px 3px 3px 3px;*/

}
div.dialog_container div.dialog a.d_close:hover{
    background-position: 40px 0; 
}
div.dialog_container div.dialog a.d_close:active{
    background-position: 0 0;  
}
div.dialog_container div.wrap{
    height: 100%;
    width: 100%;
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    z-index: 998;
    opacity: 0.5;
}
div.dialog_container div.dialog div.d_buttons{
/*
    bottom: 15px;
    padding: 0 40px;*/
text-align: right;
margin-top: 51px;

}
div.dialog_container div.dialog div#save-btn {
    margin-top: 130px;
}

div.dialog_container div.dialog div.d_buttons a{
/*    display: block;
    height: 22px;
    padding: 0 20px;
    background-image: linear-gradient(bottom, #7E7E7C 0%, #C9C7C8 2%, #EFEFEF 100%);
    background-image: -o-linear-gradient(bottom, #7E7E7C 0%, #C9C7C8 2%, #EFEFEF 100%);
    background-image: -moz-linear-gradient(bottom, #7E7E7C 0%, #C9C7C8 2%, #EFEFEF 100%);
    background-image: -webkit-linear-gradient(bottom, #7E7E7C 0%, #C9C7C8 2%, #EFEFEF 100%);
    background-image: -ms-linear-gradient(bottom, #7E7E7C 0%, #C9C7C8 2%, #EFEFEF 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #7E7E7C),
        color-stop(0.02, #C9C7C8),
        color-stop(1, #EFEFEF)
        );
    color: #000;
    font-size: 14px;
    float: left;
    border-radius: 2px;
    border: 1px solid #c9c7c8;
    padding-top: 3px;*/
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    color: #262424;
    padding: 0 20px;
    font-size: 12px;
    text-align: center;
    margin-left: 9px;
    border: 1px solid #424143;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #cfd0d2 95%, #cfd0d2 98%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(95%,#cfd0d2), color-stop(98%,#cfd0d2));
background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
background: -o-linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
background: -ms-linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
background: linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd0d2',GradientType=0 );
}
div.dialog_container div.dialog div.d_buttons a:active {
background: -moz-linear-gradient(top,  #cfd0d2 2%, #cfd0d2 5%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#cfd0d2), color-stop(5%,#cfd0d2), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
background: -o-linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
background: -ms-linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
background: linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd0d2', endColorstr='#ffffff',GradientType=0 );
}
div.dialog_container div.dialog  div.d_buttons a:last-child{
/*    float: right;*/
}
div.dialog_container div.dialog div.d_body div.input{
    background-color: #455483;
    height: 47px;
    width: 376px;
}
div.dialog_container div.dialog div.d_body div.input_body{
    background-color: #fff;
    height: 25px;
    width: 352px;
    margin: 10px;
    float: left;
}
div.dialog_container div.dialog div.d_body div.input_body input{
    color: #C9C8C8;
    font-size: 14px;
    height: 25px;
    width: 352px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}
div.dialog_container div.dialog div.d_body div.input_body input.active{
    color: #000;
}
div.dialog_container div.dialog div.d_body div.scroller{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
    width: 161px;
}
div.dialog_container div.dialog div.d_body div.scroller div.s_body{

}

div.dialog_container div.dialog div.d_body div.border_bg_grey {border: 1px solid #AFAFAF; background-color: #efefef; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 5.5px 12px}
div.dialog_container div.dialog div.d_body div.main_settings {text-align: left; color: #6b6966; font-size: 14px; padding-left: 27px;}
div.dialog_container div.dialog div.d_body div.advanced_settings {margin-top: 16px;display:block}
div.dialog_container div.dialog div.d_body div.main_settings div.border_bg_grey {margin-top: 8px;}
div.dialog_container div.dialog div.d_body div.main_settings div.border_bg_grey label {width: 130px; display: inline-block}
div.dialog_container div.dialog div.d_body div.main_settings div.border_bg_grey input {width:317px;height: 21px;}
div.dialog_container div.dialog div.d_body div.preview_link {border: 1px solid #AFAFAF; text-align: center; padding: 10px 0; margin-bottom: 35px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin-top: 34px;}
div.dialog_container div.dialog div.d_body div.advanced_settings .for_col_pic {}
div.dialog_container div.dialog div.d_body div.advanced_settings .for_col_pic div.border_bg_grey {margin-left: 45px;}
div.dialog_container div.dialog div.d_body div.advanced_settings .for_col_pic label {width: 45px; display: inline-block;float: left; margin-top: 20px;}
div.dialog_container div.dialog div.d_body div.main_settings .checkers .item {float: left;}
div.dialog_container div.dialog div.d_body div.main_settings .checkers .item input[type="checkbox"] {width: 13px; height: 13px;}
div.dialog_container div.dialog div.d_body div.main_settings .checkers .item input[type="text"] {width: 64px; margin-right: 20px;}
div.dialog_container div.dialog div.d_body div.advanced_settings .for_col_pic div.border_bg_grey {
    min-width: 505px;
}