/* 
    Document   : dialog_content
    Created on : 12.05.2012, 14:35:43
    Author     : errorman
    Description:
        Purpose of the stylesheet follows.
*/

div.dialog_container div.dialog .file_work{
    border-top: 1px solid #864F6F;
    width: 100%;
    border-bottom: none;
    border-top: none;
    background-color: #fff; 
    border-color: #4D5EA5;
}

div.dialog_container div.dialog .file_work .left{position: relative; width: 159px;  height: auto; background-color: #FFF; vertical-align: top;}
div.dialog_container div.dialog .file_work .left .header{
background: #afafaf;
background: -moz-linear-gradient(top,  #afafaf 0%, #efefef 10%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(10%,#efefef), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
background: -o-linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
background: -ms-linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
background: linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ffffff',GradientType=0 );
height: 20px; padding-left: 20px; font-size: 11px; color: #48443E; padding-top: 11px;}

div.dialog_container div.dialog .file_work .left hr.line_4px {
    margin: 0;
    background: none;
    border: none;
    height: auto;
    padding: 0;
    border-top: 2px solid #5675A3;
    border-bottom: 1px solid #5675A3;
    margin: 9px auto 15.5px;
}
div.dialog_container div.dialog .file_work .left hr.no_mrg {margin: 0;}
div.dialog_container div.dialog .file_work .left hr.shadow_new_vers {
-webkit-box-shadow: 0px 1px 3px rgba(32, 22, 0, 0.5);
-moz-box-shadow:    0px 1px 3px rgba(32, 22, 0, 0.5);
box-shadow:         0px 1px 3px rgba(32, 22, 0, 0.5);
}

div.dialog_container div.dialog .file_work .right{ width: 839px; background-color: #fff; height: 100%;padding-bottom: 20px;}
div.dialog_container div.dialog .file_work .right .working_with_projects {
    font-size: 11px;
background: #afafaf;
background: -moz-linear-gradient(top,  #afafaf 0%, #efefef 10%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(10%,#efefef), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
background: -o-linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
background: -ms-linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
background: linear-gradient(top,  #afafaf 0%,#efefef 10%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ffffff',GradientType=0 );
height: 31px;
}
div.dialog_container div.dialog .file_work .right .working_with_projects .f_search {float: right; width: 236px; border: 1px solid #455483; height: 18px; margin-right: 5px; margin-top: 6px;}
div.dialog_container div.dialog .file_work .right .working_with_projects .f_search input {border: none; margin-left: 5px; background: none; font-size: 10px; color: #979695; width: 208px;}
div.dialog_container div.dialog .file_work .right .working_with_projects .f_search a {display: inline-block; height: 15px; width: 18px; background: url('/static/img/magnifier.png') 0% 0% no-repeat transparent; margin-top: 1px;}
div.dialog_container div.dialog .file_work .right .header{
    background: rgb(226,226,226);
    background: -moz-.ar-gradient(top,  rgba(226,226,226,1) 0%, rgba(201,200,200,1) 95%, rgba(201,200,200,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(95%,rgba(201,200,200,1)), color-stop(100%,rgba(201,200,200,1)));
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    background: linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c9c8c8',GradientType=0 );
    height: 45px;
}
div.dialog_container div.dialog .file_work .right .header .button_navig{
    float: left;
    width: a;
    text-align: left;
    padding-left: 22px;
    padding-top: 9px;
    margin-bottom: 8px;
    -web-padding-top: 0px;
}
div.dialog_container div.dialog .file_work .right .header .txt_right{
    text-align: right;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    div.dialog_container div.dialog    .file_work .right .header .button_navig{
        padding-top: 4px;
    }
    div.dialog_container div.dialog   .file_work .right .header .txt_right{
        padding-top: 8px;
    }
}
div.dialog_container div.dialog .file_work .right .header .button_navig a.button_view{
    width: 92px;
    margin: 0;
    border: 1px solid #979695;
    padding: 0;
    font-size: 10px;
    padding: 4px 0;
    height: auto;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(239,239,239);
    background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(201,200,200,1) 91%, rgba(175,175,175,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(91%,rgba(201,200,200,1)), color-stop(100%,rgba(175,175,175,1)));
    background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(201,200,200,1) 91%,rgba(175,175,175,1) 100%);
    background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(201,200,200,1) 91%,rgba(175,175,175,1) 100%);
    background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(201,200,200,1) 91%,rgba(175,175,175,1) 100%);
    background: linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(201,200,200,1) 91%,rgba(175,175,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#afafaf',GradientType=0 );
    color: #312A20;    
}
div.dialog_container div.dialog .file_work .right .header .button_navig a.view_file{
    text-align: left;

}
div.dialog_container div.dialog .file_work .right .header .button_navig a.button_view span{
    height: 100%;
    margin-left: 5px;
    padding-left: 20px;
    padding-bottom: 4px;
}

div.dialog_container div.dialog .file_work .right .header .button_navig a.delete{
    width: 61px;
}
div.dialog_container div.dialog .file_work .right .header .button_navig div.navig_page{
    height: 19px;
    margin-right: 10px;
}
div.dialog_container div.dialog .file_work .right .header .button_navig div.navig_page a{
    width: 15px;
    height: 100%;

    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    text-align: center;
    background: none;
    color: #312A20;
}
div.dialog_container div.dialog .file_work .right .header .button_navig div.navig_page a.active{
    background-color: #4B5580;
    color: white;
}
div.dialog_container div.dialog .file_work .right .header .button_navig div.navig_page a.arrow{
    background: url('/static/img/folder/arrow.png') 0% 50% no-repeat;
    margin-left: 3px;
}
div.dialog_container div.dialog .file_work .right .header .button_navig div.navig_page a.back{
    background: url('/static/img/folder/arrow.png') 0% 50% no-repeat;
    margin-left: 3px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
div.dialog_container div.dialog .file_work .left .content{
    padding-top: 10px;
}
div.dialog_container div.dialog .file_work .left .content a{
    min-height: 18px;
    display: block;
    text-decoration: none;
    font-size: 11px;
    color: #48443E;
    padding-left: 30px;
    padding-top: 4px;
    background: url('/static/img/folder/folder.png') 7px 50% no-repeat;
    border: 1px solid transparent;
}
div.dialog_container div.dialog .file_work .left .content a:hover {
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ebf5ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebf5ff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf5ff',GradientType=0 );
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: 1px #C7DFFC solid;
padding-left: 0;
}
div.dialog_container div.dialog .file_work .left .content a.active{
    font-weight: bold;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #d9e7f4 50%, #b5cfea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d9e7f4), color-stop(100%,#b5cfea));
background: -webkit-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5cfea',GradientType=0 );
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: 1px #C7DFFC solid;
padding-left: 0;
}
div.dialog_container div.dialog .file_work .left .content a.active span,div.dialog_container div.dialog .file_work .left .content a:hover span{
background: url('/static/img/folder/folder.png') 7px 50% no-repeat;
display: inline-block;
width: 100%;
overflow: hidden;
padding-left: 30px;
padding-right: 10px;
}

div.dialog_container div.dialog .file_work .left .content a.create{
    background: url('/static/img/folder/create_folder.png') 10px 50% no-repeat;
    padding-left: 40px;
}
div.dialog_container div.dialog .file_work .left .content a.rename{
    background: url('/static/img/folder/rename.png') 10px 50% no-repeat;
    padding-left: 40px;
}
div.dialog_container div.dialog .file_work .left .content a.create:hover,div.dialog_container div.dialog .file_work .left .content a.rename:hover,div.dialog_container div.dialog .file_work .left .content a.delete:hover {
    border: 1px solid transparent;
}
div.dialog_container div.dialog .file_work .left .content div.line{
    background-color: #48443E;
    font-size: 0;
    height: 1px;
    margin: 9px auto 15.5px;
    width: 139.5px;
}


div.dialog_container div.dialog .file_work .right .content table tr td{
    height: 27.5px;
    font-size: 11px;
    color: #312A20;
}
div.dialog_container div.dialog .file_work .right .content table tr td a{
    color: #4B5580;
    text-decoration: none;
}
div.dialog_container div.dialog .file_work .right .content table tr.first_line td {
    background: rgb(201,200,200);
    background: -moz-linear-gradient(top,  rgba(201,200,200,1) 0%, rgba(239,239,239,1) 6%, rgba(255,255,255,1) 94%, rgba(201,200,200,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,200,200,1)), color-stop(6%,rgba(239,239,239,1)), color-stop(94%,rgba(255,255,255,1)), color-stop(100%,rgba(201,200,200,1)));
    background: -webkit-linear-gradient(top,  rgba(201,200,200,1) 0%,rgba(239,239,239,1) 6%,rgba(255,255,255,1) 94%,rgba(201,200,200,1) 100%);
    background: -o-linear-gradient(top,  rgba(201,200,200,1) 0%,rgba(239,239,239,1) 6%,rgba(255,255,255,1) 94%,rgba(201,200,200,1) 100%);
    background: -ms-linear-gradient(top,  rgba(201,200,200,1) 0%,rgba(239,239,239,1) 6%,rgba(255,255,255,1) 94%,rgba(201,200,200,1) 100%);
    background: linear-gradient(top,  rgba(201,200,200,1) 0%,rgba(239,239,239,1) 6%,rgba(255,255,255,1) 94%,rgba(201,200,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c8c8', endColorstr='#c9c8c8',GradientType=0 );
    border-right: 1px solid #C9C8C8;
    border-bottom:  none;
    height: 23px;

}
div.dialog_container div.dialog .file_work .right .content table tr td{
    padding-left: 10px;
    vertical-align: middle;
}

div.dialog_container div.dialog .file_work .right .content table tr td.first_child {
    width: 52.5px;
    text-align: center;
    padding: 0;
}

div.dialog_container div.dialog .file_work .right .content table tr td.two_tree_child{
    width: 240px;
    padding-right: 10px;
    color: #201600;
    font-size: 13px;
}
div.dialog_container div.dialog .file_work .right .content table tr.first_line td.two_tree_child{
    font-size: 11px;
    color: #312A20;
}
div.dialog_container div.dialog .file_work .right .content table tr td.four_child{
    width: 146px;
}

div.dialog_container div.dialog .file_work .right .content table tr td.five_child{
    width: 82px;
    border-right: none;
}
div.dialog_container div.dialog .file_work table.table_file tr.relat_block {display:block;position:relative;}
div.dialog_container div.dialog .file_work table.table_file tr td.right{vertical-align: top; position: relative; }
div.dialog_container div.dialog .file_work table.table_file tr td.right div.block_bottom{
    background: rgb(226,226,226);
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(201,200,200,1) 95%, rgba(201,200,200,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(95%,rgba(201,200,200,1)), color-stop(100%,rgba(201,200,200,1)));
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    background: linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(201,200,200,1) 95%,rgba(201,200,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c9c8c8',GradientType=0 );
    height: 39px;
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 100%;
}
div.dialog_container div.dialog .file_work table.table_file tr td.right div.block_bottom{
    bottom: 0;
}
div.dialog div.d_body div.replacetags div.dirs a {
    background: url("/static/img/folder/folder.png") no-repeat scroll left center transparent;
    clear: both;
    float: left;
    margin-top: 3px;
    padding-left: 30px;
    border: 1px solid transparent;
    padding-right: 10px;
    margin-left: 15px;
}
div.dialog div.d_body div.replacetags a.main_dir {
    background: url("/static/img/folder/folder.png") no-repeat scroll left center transparent;
    padding-left: 30px;
    display: inline-block;
    border: 1px solid transparent;
    padding-right: 10px;
    margin-left: 0px;
}
div.dialog div.d_body div.replacetags a.main_dir:hover {
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ebf5ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebf5ff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf5ff',GradientType=0 );
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: 1px #C7DFFC solid;
padding-left: 0;
}
div.dialog div.d_body div.replacetags div.dirs a:hover {
 background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ebf5ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebf5ff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf5ff',GradientType=0 );
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: 1px #C7DFFC solid;   
padding-left: 0;
}

div.dialog div.d_body div.f_scroller {
    height: 165px;min-width: 420px;
}
div.dialog div.d_body div.replacetags {
    margin-top: 10px;
    overflow-y: scroll;
    height: 142px;
}
div.dialog div.d_body div.replacetags a {
    display: block;
    font-size: 12px;
}
div.dialog div.d_body div.replacetags div.dirs a.active, div.dialog div.d_body div.replacetags a.main_dir.active {
    background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #d9e7f4 50%, #b5cfea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d9e7f4), color-stop(100%,#b5cfea));
background: -webkit-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5cfea',GradientType=0 );
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: 1px #C7DFFC solid;
padding-left: 0;
}
div.dialog div.d_body div.replacetags div.dirs a.active span, div.dialog div.d_body div.replacetags a.main_dir.active span, div.dialog div.d_body div.replacetags a.main_dir:hover span, div.dialog div.d_body div.replacetags a:hover span {
background: url("/static/img/folder/folder.png") 0% 50% no-repeat transparent;
display: inline-block;
width: 100%;
overflow: hidden;
padding-left: 30px;
}
div.dialog_container div.dialog .file_work .right .cont_main {
    height: 232px;
    width: 100%;
    overflow-y: scroll;
}
a {
    -moz-user-select: none;
    cursor: pointer;
    outline: medium none;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
  /*здесь стили для хрома*/
  div.dialog_container div.dialog .file_work .right .cont_main {
    height: 236px;   
 }
}
@-moz-document url-prefix() {
    div.color_pic div.pole{
   min-width: 246px;
}
div.dialog_container div.dialog .file_work .right .cont_main {
    height: 235px;
}
div.dialog_container div.dialog .file_work div.right {
    margin-top: -11px;
}
    div.dialog_container div.dialog .file_work table.table_file tr td.right div.block_bottom{
    width: 839px;
    left: 161px;
    bottom: 0;
}
div.dialog_container div.dialog .file_work .right .header .button_navig{
    padding-top: 4px;
}
div.dialog_container div.dialog .file_work .right .header .txt_right{
    padding-top: 8px;
}
}
div.dialog_container div.dialog .file_work .left .content a.delete {
    background: url("/static/img/folder/delete_folder.png") no-repeat scroll 10px 50% transparent;
    padding-left: 40px;
}
div.dialog_container div.dialog .file_work .left .content a.main_dir {
    display: block;
}

div.dialog_container div.dialog .file_work .right .header .txt_right div.navig_page{
    height: 19px;
    margin-right: 10px;
}
div.dialog_container div.dialog .file_work .right .header .txt_right div.navig_page a{
    width: 15px;
    height: 100%;

    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    text-align: center;
    background: none;
    color: #312A20;
}
div.dialog_container div.dialog .file_work .right .header .txt_right div.navig_page a.active{
    background-color: #4B5580;
    color: white;
}
div.dialog_container div.dialog .file_work .right .header .txt_right div.navig_page a.arrow{
    background: url('/static/img/mediastorage/folder/arrow.png') 0% 50% no-repeat;
    margin-left: 3px;
}
div.dialog_container div.dialog .file_work .right .header .txt_right div.navig_page a.back{
    background: url('/static/img/mediastorage/folder/arrow.png') 0% 50% no-repeat;
    margin-left: 3px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
div.dialog div.d_body span.note{
    display: block;
    height: 30px;
    padding-top: 15px;
    color: #AA639B;
    font-size: 14px;
    padding-left: 50px;
    background: url('/static/img/dialog/note.png') no-repeat 10px 10px;
}

div.dialog div.input_for_save {
    background: url('/static/img/!signe.png') no-repeat 28px 50% #fff;
    padding: 8px 0;
    padding-left: 55px;
    font-size: 16px;
    color: #AA4492;
}
div.dialog div.input_for_save input {
    border: 1px solid #AFAFAF;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    height: 23px;
    width: 760px;
    padding-left: 5px;
    font-size: 14px;
}



div.dialog div.bottom_but{
/*    height: 65px;*/
    background-color: #EFEFEF;
    margin: 0 5px;
    padding: 23px 0 17px 0;
}
div.dialog div.bottom_but div.for_buts{
    float: right;
    margin-right: 20px;
}
div.dialog div.bottom_but div.for_buts a{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    color: #262424;
    padding: 0 20px;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-left: 9px;
    border: 1px solid #424143;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #cfd0d2 95%, #cfd0d2 98%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(95%,#cfd0d2), color-stop(98%,#cfd0d2));
background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
background: -o-linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
background: -ms-linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
background: linear-gradient(top,  #ffffff 0%,#cfd0d2 95%,#cfd0d2 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd0d2',GradientType=0 );


}
div.dialog div.bottom_but div.for_buts a:active{
background: -moz-linear-gradient(top,  #cfd0d2 2%, #cfd0d2 5%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#cfd0d2), color-stop(5%,#cfd0d2), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
background: -o-linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
background: -ms-linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
background: linear-gradient(top,  #cfd0d2 2%,#cfd0d2 5%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd0d2', endColorstr='#ffffff',GradientType=0 );

}



/*div.dialog div.bottom_but div.for_buts a.open{
    border:1px #5d73ad solid;   
    background-image: linear-gradient(bottom, #4C5782 4%, #6C86B3 52%);
    background-image: -o-linear-gradient(bottom, #4C5782 4%, #6C86B3 52%);
    background-image: -moz-linear-gradient(bottom, #4C5782 4%, #6C86B3 52%);
    background-image: -webkit-linear-gradient(bottom, #4C5782 4%, #6C86B3 52%);
    background-image: -ms-linear-gradient(bottom, #4C5782 4%, #6C86B3 52%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, #4C5782),
        color-stop(0.52, #6C86B3)
        );


}
div.dialog div.bottom_but div.for_buts a.close{
    border:1px #62598d solid;
    background-image: linear-gradient(bottom, #A24946 0%, #BF536B 43%);
    background-image: -o-linear-gradient(bottom, #A24946 0%, #BF536B 43%);
    background-image: -moz-linear-gradient(bottom, #A24946 0%, #BF536B 43%);
    background-image: -webkit-linear-gradient(bottom, #A24946 0%, #BF536B 43%);
    background-image: -ms-linear-gradient(bottom, #A24946 0%, #BF536B 43%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #A24946),
        color-stop(0.43, #BF536B)
        );
}*/

#file_list {
    overflow-y: scroll;
    width: 100%;
}
#file_list tr td {
    border: 1px solid transparent;
}

#file_list tr:hover {
    background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ebf5ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebf5ff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
background: linear-gradient(top,  #ffffff 0%,#ebf5ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf5ff',GradientType=0 );
border: 1px #C7DFFC solid;
}
#file_list tr:hover td {
border-top: 1px #C7DFFC solid;
border-bottom: 1px #C7DFFC solid;
}
#file_list tr:hover td:first-child{
border-radius: 2px 0 0 2px;
-moz-border-radius: 2px 0 0 2px;
-webkit-border-radius: 2px 0 0 2px;
border-left: 1px #C7DFFC solid;
}
#file_list tr:hover td:last-child {
border-radius: 0 2px 2px 0;
-moz-border-radius: 0 2px 2px 0;
-webkit-border-radius: 0 2px 2px 0;
border-right: 1px #C7DFFC solid;
}

#file_list tr.active {
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #d9e7f4 50%, #b5cfea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d9e7f4), color-stop(100%,#b5cfea));
background: -webkit-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
background: linear-gradient(top,  #ffffff 0%,#d9e7f4 50%,#b5cfea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5cfea',GradientType=0 );
border: 1px #C7DFFC solid;
}
#file_list tr.active td {
border-top: 1px #C7DFFC solid;
border-bottom: 1px #C7DFFC solid;
}
#file_list tr.active td:first-child{
border-radius: 2px 0 0 2px;
-moz-border-radius: 2px 0 0 2px;
-webkit-border-radius: 2px 0 0 2px;
border-left: 1px #C7DFFC solid;
}
#file_list tr.active td:last-child {
border-radius: 0 2px 2px 0;
-moz-border-radius: 0 2px 2px 0;
-webkit-border-radius: 0 2px 2px 0;
border-right: 1px #C7DFFC solid;
}


div.dialog_container div.dialog.newstyle div.d_body span.zag{
    display: block;
    height: 25px;
    width: 100%;
    color: #4c4c4c;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;

}
div.dialog_container div.dialog.newstyle .bottom_but{
    background: none;
    height: 30px;
    padding: 15px 0;
}
div.dialog_container div.dialog.newstyle .block{
    background-color: #e4e4e4;
    border: 1px solid #c7c7c7;
    border-radius: 1px;
    width: 610px;
    min-height: 50px;
    padding: 5px;
}
div.dialog_container div.dialog.newstyle .d_body .values .item{
    float: left;
}

/*div.dialog_container div.dialog.newstyle .d_body .values .item a{
    display: block;
    width: 19px;
    height: 19px;
    background-image: url('/static/img/dialog/value_edit.png')
}*/
div.dialog_container div.dialog.newstyle .d_body .values .item{
    color: #000;
    font-size: 16px;
}
div.dialog_container div.dialog.newstyle .d_body .values .item input[type="checkbox"]{
    width: 13px;
    height: 12px;
    background: none;
}
div.dialog_container div.dialog.newstyle .d_body .values .item *{
    float: left;
}
div.dialog_container div.dialog.newstyle .d_body .values .item input[type="text"]{
    /*    display: none;*/
    width: 90px;
    /*    float: none;*/
}
div.dialog_container div.dialog.newstyle .d_body .block .line span{
    color: #4c4c4c;
    font-size: 18px;
}
div.dialog_container div.dialog.newstyle .d_body .block .line{
    width: 100%;
    height: 30px;
}
div.dialog_container div.dialog.newstyle .d_body .block .line .attr span{
    font-size: 18px;
    color: #000;

}
div.dialog_container div.dialog .file_work .right .end_table_content {
height: 25px;
background: #c9c8c8;
background: -moz-linear-gradient(top,  #c9c8c8 0%, #ffffff 6%, #efefef 94%, #c9c8c8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c8c8), color-stop(6%,#ffffff), color-stop(94%,#efefef), color-stop(100%,#c9c8c8));
background: -webkit-linear-gradient(top,  #c9c8c8 0%,#ffffff 6%,#efefef 94%,#c9c8c8 100%);
background: -o-linear-gradient(top,  #c9c8c8 0%,#ffffff 6%,#efefef 94%,#c9c8c8 100%);
background: -ms-linear-gradient(top,  #c9c8c8 0%,#ffffff 6%,#efefef 94%,#c9c8c8 100%);
background: linear-gradient(top,  #c9c8c8 0%,#ffffff 6%,#efefef 94%,#c9c8c8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c8c8', endColorstr='#c9c8c8',GradientType=0 );
}