/* 
    Document   : main
    Created on : 13.04.2012, 12:45:53
    Author     : errorman
    Description:
        Purpose of the stylesheet follows.
*/
.resize {position: relative; width: auto; height: auto; background-color: transparent;  border: 1px solid #000;}
.resize span.top-left, .resize span.top-right, .resize span.bottom-right, .resize span.bottom-left, .resize span.middle-left, .resize span.middle-right, .resize span.center-top, .resize span.center-bottom  {position: absolute; display: block; width: 4px; height: 4px; border: 1px solid #000; background-color: #FFF;}
.resize span.top-left {top: -3px; left: -3px;cursor :nw-resize}
.resize span.top-right {top: -3px; right: -3px;cursor: ne-resize}
.resize span.bottom-right {bottom: -3px; right: -3px;cursor: se-resize}
.resize span.bottom-left {bottom: -3px; left: -3px;cursor: sw-resize}
.resize span.middle-left {top: 50%;left: -3px; margin-top: -3px;cursor: w-resize}
.resize span.middle-right {top: 50%; right: -3px; margin-top: -3px;cursor :e-resize}
.resize span.center-top {left: 50%; top: -3px;cursor: n-resize; margin-left: -3px;}
.resize span.center-bottom {left: 50%; bottom: -3px;cursor: n-resize; margin-left: -3px;cursor: s-resize}
.el_text p{
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.el_text{
    font-size: 12px;
}
html, body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: "Tahoma","Sans-serif";
}
a{cursor: pointer;
  user-select:none;
  -moz-user-select:none;}
a.button{
    height: 32px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    border: 1px solid #fff;
    background-image: linear-gradient(bottom, #2B8484 17%,  #37ACAE  69%);
    background-image: -o-linear-gradient(bottom, #2B8484 17%,  #37ACAE  69%);
    background-image: -moz-linear-gradient(bottom, #2B8484 17%,  #37ACAE  69%);
    background-image: -webkit-linear-gradient(bottom, #2B8484 17%,  #37ACAE  69%);
    background-image: -ms-linear-gradient(bottom, #2B8484 17%,  #37ACAE  69%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, #2B8484),
        color-stop(0.69, #37ACAE)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#37ACAE, endColorstr=#2B8484);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#37ACAE, endColorstr=#2B8484)";  
    float: left;
    box-shadow: 0 0 3px 0px #000;
    color: #fff;
    font-size: 25px;
}
a.button:active{
    background-image: linear-gradient(bottom, #37ACAE  17%,  #2B8484 69%);
    background-image: -o-linear-gradient(bottom, #37ACAE  17%,  #2B8484 69%);
    background-image: -moz-linear-gradient(bottom, #37ACAE  17%,  #2B8484 69%);
    background-image: -webkit-linear-gradient(bottom, #37ACAE  17%,  #2B8484 69%);
    background-image: -ms-linear-gradient(bottom, #37ACAE  17%,  #2B8484 69%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, #37ACAE),
        color-stop(0.69, #2B8484)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2B8484, endColorstr=#37ACAE);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2B8484, endColorstr=#37ACAE)";  
}

div.main {
    padding-bottom: 20px;
}

div.main div.title{
    background-image: linear-gradient(left , #2B8383 44%, #38B0B2 77%);
    background-image: -o-linear-gradient(left , #2B8383 44%, #38B0B2 77%);
    background-image: -moz-linear-gradient(left , #2B8383 44%, #38B0B2 77%);
    background-image: -webkit-linear-gradient(left , #2B8383 44%, #38B0B2 77%);
    background-image: -ms-linear-gradient(left , #2B8383 44%, #38B0B2 77%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.44, #2B8383),
        color-stop(0.77, #38B0B2)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38B0B2, endColorstr=#2B8383);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#38B0B2, endColorstr=#2B8383)";  
    height: 24px;
    font-size: 13px;
    color: #fff;
    margin-bottom: 50px;
    padding-top: 6px;
    border-top: #9bd3d4 1px solid;
    border-bottom: #9bd3d4 1px solid;
}


div.my_video div.title{
    background-image: linear-gradient(left , #4c5483 44%, #4D5EA5 77%);
    background-image: -o-linear-gradient(left , #4c5483 44%, #4D5EA5 77%);
    background-image: -moz-linear-gradient(left , #4c5483 44%, #4D5EA5 77%);
    background-image: -webkit-linear-gradient(left , #4c5483 44%, #4D5EA5 77%);
    background-image: -ms-linear-gradient(left , #4c5483 44%, #4D5EA5 77%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.44, #4c5483 ), 
        color-stop(0.77, #4D5EA5)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D5EA5, endColorstr=#4c5483);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D5EA5, endColorstr=#4c5483)";  
}
div.my_audio div.title{
    background: #864f6f;
    background: -moz-linear-gradient(left,  #864f6f 0%, #97458f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#864f6f), color-stop(100%,#97458f));
    background: -webkit-linear-gradient(left,  #864f6f 0%,#97458f 100%);
    background: -o-linear-gradient(left,  #864f6f 0%,#97458f 100%);
    background: -ms-linear-gradient(left,  #864f6f 0%,#97458f 100%);
    background: linear-gradient(left,  #864f6f 0%,#97458f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#864f6f', endColorstr='#97458f',GradientType=1 );

}




div.main div.title span{
    margin-left: 30px;
}
div.container{
    margin: 0 auto;
    width: 1000px;
}
div.container div.cont2{
    width: 620px;
    margin: 0 auto;
}


div.container div.cont2 div.helps{
    background: url("/static/img/note.png") no-repeat;
}
div.container div.cont2 div.helps span{
    color: #994791;
    display: block;
    height: 35px;
    padding-left: 45px;
    background: url("/static/img/note.png") no-repeat;
    font-size: 18px;
}
div.container div.cont2 div.helps p{
    font-size: 12px;
    color: #595651;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 45px;
}

div.for_but{
    text-align: center;
    width: 620px;
    height: 40px;

}
div.for_but a{
    text-align: center;
    margin: 0 auto;
    margin-left: 210px;
    margin-top: 25px;

}
div.container div.cont2 div.helps span.file_note{
    font-size: 14px;
    color: #201600;
    background: none;
}
div.container div.cont2 div.helps span.file_note b{
    font-weight: bold;
}
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
body { font-family: "Tahoma","Sans-serif"}

.clear{clear: both;}

.container {
    width: 1000px;
    margin: 0 auto;
}
.header a.ruel_logo {
    font-size: 25px;
    font-weight: bold;
    display: block;
    color: #FFF;
    text-decoration: none; 
    float: left;
    border: none;
    background: none;
    padding-top: 0;
}
.header div {
    text-align: right;}
tr.relat_block div.right .header div.button_navig a {
    font-size: 14px; text-decoration: none; display: inline-block; width: 143px; height: 25px; margin: 0 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-align: left;
    -webkit-box-shadow:  1px 0px 10px 0px rgba(72, 119, 115, 1);
    -moz-box-shadow:  1px 0px 10px 0px rgba(72, 119, 115, 1);
    box-shadow:  1px 0px 10px 0px rgba(72, 119, 115, 1);
    margin-top: 7px;
    padding: 4px 0 0 34px;
    background-color: #779b99; 
    cursor: pointer;
}
.header div a.logout{background: url('/static/img//static/img/logout_ico.jpg') 3px 2px no-repeat #779b99;}
.header div a.office{background: url('/static/img//static/img/office_ico.jpg') 3px 2px no-repeat #779b99; margin-left: 0px;}
.header div a.help{
    margin: 0; 
    margin-right: 7px; 
    width: 26px; 
    height: 26px; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: #9B598C;
}
.header div.border_bottom{
    border-bottom: 1px solid #497a77;
    width: 100%;
}
.header div.logo_storage{
    background: url('/static/img//static/img/logo_storage.png') 40px 50% no-repeat;
    width: 100%; 
    /*    height: 48px; */
    padding:10px 0 14px 0;

}

div.navig div.block a{
    text-align: center;
    position: relative;
    display: inline-block;
    height: 79px;
    width: 108px;
    float: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow:  1px 0px 4px 0px #777777;
    -moz-box-shadow:  1px 0px 4px 0px #777777;
    box-shadow:  1px 0px 4px 0px #777777;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 11px;

}

div.navig div.block h3.title {
    font-weight: normal; 
    font-size: 18px; 
    color: #497a77; 
    text-align: left; 
    margin: 0 auto; 
    margin-bottom: 12px; 
    text-align: center
}

div.navig div.block p {color: #312a20; font-size: 14px; text-align: left; margin: 0 auto; width: 270px}


div.navig div.block.first a{


    background-image: linear-gradient(bottom, #2D8989 24%, #38AFB1 62%);
    background-image: -o-linear-gradient(bottom, #2D8989 24%, #38AFB1 62%);
    background-image: -moz-linear-gradient(bottom, #2D8989 24%, #38AFB1 62%);
    background-image: -webkit-linear-gradient(bottom, #2D8989 24%, #38AFB1 62%);
    background-image: -ms-linear-gradient(bottom, #2D8989 24%, #38AFB1 62%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, #2D8989),
        color-stop(0.62, #38AFB1)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#38AFB1, endColorstr=#2D8989);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#38AFB1, endColorstr=#2D8989)";  
}

div.navig div.block a span.ico{
    background: url('/static/img//static/img/ico/my_files_sprite.png') 0% 0% no-repeat;
    width: 38px;
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 4px;
}


div.navig div.block.second a span.ico{background-position: -38px 0%;}

div.navig div.block.triple a span.ico{background-position: 100% 0%;}

div.navig div.block.second a{
    background-image: linear-gradient(bottom, #4C5484 40%, #4D5FA4 70%);
    background-image: -o-linear-gradient(bottom, #4C5484 40%, #4D5FA4 70%);
    background-image: -moz-linear-gradient(bottom, #4C5484 40%, #4D5FA4 70%);
    background-image: -webkit-linear-gradient(bottom, #4C5484 40%, #4D5FA4 70%);
    background-image: -ms-linear-gradient(bottom, #4C5484 40%, #4D5FA4 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, #4C5484),
        color-stop(0.7, #4D5FA4)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D5FA4, endColorstr=#4C5484);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D5FA4, endColorstr=#4C5484)";  
}

div.navig div.block.triple a{
    background-image: linear-gradient(bottom, #874F70 40%, #96458E 70%);
    background-image: -o-linear-gradient(bottom, #874F70 40%, #96458E 70%);
    background-image: -moz-linear-gradient(bottom, #874F70 40%, #96458E 70%);
    background-image: -webkit-linear-gradient(bottom, #874F70 40%, #96458E 70%);
    background-image: -ms-linear-gradient(bottom, #874F70 40%, #96458E 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, #874F70),
        color-stop(0.7, #96458E)
        );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#96458E, endColorstr=#874F70);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#96458E, endColorstr=#874F70)";  
}
div.navig {



}
div.navig table tr td{
    vertical-align: top;
}

div.navig table tr td.shadow_right{
    width: 5px;
    background: -moz-linear-gradient(left,  rgba(127,126,124,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(127,126,124,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(127,126,124,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(127,126,124,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(127,126,124,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(left,  rgba(127,126,124,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7e7c', endColorstr='#00ffffff',GradientType=1 );

}


div.navig div.block{
    display: inline-block;
    text-align: center;
    margin-right: 5px;

}

div.navig div.shadow_right{

    height: 100%;
    width: 0;
    border-right: 1px solid white;
    -webkit-box-shadow:  5px 1px 10px 0px #7F7E7C;
    -moz-box-shadow:  5px 1px 10px 0px #7F7E7C;
    box-shadow:  5px 1px 10px 0px #7F7E7C;
}



div.head_line{
    background: #297d7d;
    height: 45px;
    -webkit-box-shadow:  0 0 7px 0px #777777;
    -moz-box-shadow:  0 0 7px 0px #777777;
    box-shadow:  0 0px 7px 0px #777777;
}

span.test{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 13px;
    height: 13px;
    margin-left: -6.5px;
    margin-top: -6.5px;


    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px -1px #777777;
    behavior: url(border-radius.htc);
    display: block;
    -moz-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg); 
}

.audio_player{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 361px;
    height: 56px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #595651;
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #d9d6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#d9d6d6));
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#d9d6d6 100%);
    background: -o-linear-gradient(top,  #f1f1f1 0%,#d9d6d6 100%);
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#d9d6d6 100%);
    background: linear-gradient(top,  #f1f1f1 0%,#d9d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d9d6d6',GradientType=0 );   
}
.audio_player div{
    float: left;
}
.audio_player div a {
    display: inline-block;
}
.audio_player div.repeat_block{
    width: 14px;
    margin: 0 7.25px;
    padding-top: 21px;
}
.audio_player div.repeat_block a{
    height: 16px;
    width: 14px;
    background: url('/static/img//static/img/audio/repeat.png') 0% 0% no-repeat;
}
.audio_player div.forward_back_block{
    width: 25px;
    padding-top: 25px;
}
.audio_player div.forward_back_block a{
    height: 8px;
    width: 9px;
    margin-right: 3.3px;
    background: url('/static/img//static/img/audio/back_forward.png') 0% 0% no-repeat;
}
.audio_player div.forward_back_block a.forward{
    background-position: 100% 0%;
    margin-right: 0;
    margin-left:3.3px;
}
.audio_player div.play_block{
    margin: 0 7.5px;
    padding-top: 15px;
}
.audio_player div.play_block a{
    width: 30px;
    height: 29px;
    background: url('/static/img//static/img/audio/play.png') 0% 0% no-repeat;
}
.audio_player div.slidebar_text_block{
    width: 135px;
    overflow: hidden;
    padding-top: 10px;
}
.audio_player div.slidebar_text_block span{
    display: block;
    font-size: 9px;
    width: 135px;
    overflow: hidden;
    height: 10px;
    color: #000;
}
.audio_player div.slidebar_text_block .bar{
    margin-top: 10px;
    float: none;
    position: relative;
    height: 6px;
}
.audio_player div.slidebar_text_block .bar .main{
    padding: 0;
    position: absolute;
    width: 135px;
    left: 0;
    top: 0;
    background-color: #595651;
    height: 1px;
    float: none;
    -moz-opacity: 0.40;
    -khtml-opacity: 0.40;
    opacity: 0.40;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    filter:alpha(opacity=40);
}
.audio_player div.slidebar_text_block .bar .load{
    padding: 0;
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    background-color: #595651;
    height: 1px;
    float: none;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter:alpha(opacity=100);
}
.audio_player div.slidebar_text_block .bar a.slider{
    height: 10px;
    width: 27px;
    position: absolute;
    left: 0;
    top: -4px;
    display: block;
    background: url('/static/img//static/img/audio/slider.png') 0% 0% no-repeat;
}
.audio_player div.volume_block{
    width: 63px;
    margin-top: 19px;
    margin-left: 15.5px;
    padding-left: 28px;
    background: url('/static/img//static/img/audio/volume.png') 0% 0% no-repeat;
    padding-bottom: 10px;
}

.audio_player div.volume_block .bar{
    margin-top: 10px;
    float: none;
    position: relative;
    height: 6px;
}
.audio_player div.volume_block .bar .main{
    padding: 0;
    position: absolute;
    width: 63px;
    left: 0;
    top: 0;
    background-color: #595651;
    height: 1px;
    float: none;
    -moz-opacity: 0.40;
    -khtml-opacity: 0.40;
    opacity: 0.40;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    filter:alpha(opacity=40);
}
.audio_player div.volume_block .bar .load{
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #595651;
    height: 1px;
    float: none;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter:alpha(opacity=100);
}
.audio_player div.volume_block .bar a.slider_vol{
    height: 9px;
    width: 13px;
    position: absolute;
    left: 50%;
    top: -4px;
    display: block;
    background: url('/static/img//static/img/audio/slider_vol.png') 0% 0% no-repeat;
}
.audio_player div.close_block{
    width: 23px;
    height: 20px;
    position: relative;
}
.audio_player div.close_block a{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 14px;
    height: 14px;
    background: url('/static/img//static/img/audio/close.png') 0% 0% no-repeat;
}
.window_dialog {width: 980px; margin: 30px auto;

                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                border: 1px solid #201600;
                padding: 0 5px 5px 5px;
                position: relative;
                background: #6d88b5;
                background: -moz-linear-gradient(top,  #6d88b5 0%, #4b5580 8%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d88b5), color-stop(8%,#4b5580));
                background: -webkit-linear-gradient(top,  #6d88b5 0%,#4b5580 8%);
                background: -o-linear-gradient(top,  #6d88b5 0%,#4b5580 8%);
                background: -ms-linear-gradient(top,  #6d88b5 0%,#4b5580 8%);
                background: linear-gradient(top,  #6d88b5 0%,#4b5580 8%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d88b5', endColorstr='#4b5580',GradientType=0 );

}
.window_dialog p.title {margin: 0; font-size: 14px; color: white; margin: 11px 0 0 14px;}
.window_dialog a.close {background: url('/static/img//static/img/close.png') 0% 0% no-repeat; position: absolute; display: block; width: 41px; height: 20px; top: 0; right: 5px;}
.window_dialog .file_work {border: none;}
.window_dialog .file_work .left .content a.active {
    background-color: #48507F;
    color: white;
    margin-bottom: 0;
}
.window_dialog .file_work .left .content a.rename{
    background-image: url('/static/img//static/img/folder/rename_folder.png');
}
.window_dialog .file_work .left .content a.delete{
    background-image: url('/static/img//static/img/folder/delete_folder.png');
}
.window_dialog .file_work .left {width: 153px;}
.window_dialog .file_work .right {width: 826px;}
.window_dialog .file_work .right .header .button_navig {width: 385px;}
.window_dialog .file_work .right .for_search {padding: 49.5px 0 41px 0;}
.window_dialog .file_work .right .for_search .block_search {margin: 0 auto; width: 485px;}
.window_dialog .file_work .right .for_search .block_search .block_outline {width: 354px; border: 7px solid #5675A3; float: left;}
.window_dialog .file_work .right .for_search .block_search .block_outline input { border: 1px solid #455483; height: 24px; font-size: 14px; width: 343px; color: #C9C8C8; padding-left: 9px;}
.window_dialog .file_work .right .for_search .block_search a { float: left; border: 1px solid #4D5EA5;
                                                               background: #6d88b5;
                                                               background: -moz-linear-gradient(top,  #6d88b5 0%, #4b5580 100%);
                                                               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d88b5), color-stop(100%,#4b5580));
                                                               background: -webkit-linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
                                                               background: -o-linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
                                                               background: -ms-linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
                                                               background: linear-gradient(top,  #6d88b5 0%,#4b5580 100%);
                                                               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d88b5', endColorstr='#4b5580',GradientType=0 );
                                                               display: block;
                                                               width: 96px;
                                                               height: 26px;
                                                               text-decoration: none;
                                                               color: white;
                                                               font-size: 14px;
                                                               text-align: center;
                                                               padding: 5px 0 0 0;
                                                               margin: 4px 0 0 19px;
}

@-moz-document url-prefix() {
    .file_work table.table_file tr td.right div.block_bottom{
    left: 153px;
    width: 826px;
}
}
body,html,option,h2,h1,a,form,a,div.pages-dialog select{
    margin:0
}

body,html,option,h2,h1,a,form,a,div.pages-dialog select,div.color_pic div.color_list div.main-pics span{
    padding:0
}
body,html,div.panel-content,.img-edit input.text,.line p,div.color_pic div.pole div.color_list{
    background:#fff
}
body,html{
    font-family:"Tahoma","Sans-serif";
    background-attachment: fixed;
    background-color: #fff;
    font-size: 12px;
    /*    line-height: 18px;*/
    color: #52697E;
}
body,html,a.full{
    height:100%
}
textarea{
    resize:none;
    white-space:normal;
}
.el_text{
    font-size: medium;
    color: #000;
}
a,.menu-edit a.edit,#row-down,#row-up,.menu-edit a.edit_o,.element-pic,#text-bold,#text-italic,#text-float-left,#text-float-none,#text-float-right,#text-float-center,.ui-dialog-content div.buttons div,div.color_pic div.tuker,div.color_pic div.color_list div.color_box{
    cursor:pointer
}
.menu-edit{
    position:fixed;

}
.menu-edit{
    width:45px;
    height:41px;
}
.menu-edit a,div.small_button a,div.color_pic div.pole div.color_box,div.color_pic div.pole div.color, div.color_pic div.pole div.border-color{
    width:20px;
}
.menu-edit a,div.small_button a,div.color_pic div.pole div.color_box,div.color_pic div.pole div.color, div.color_pic div.pole div.border-color, div.color_pic div.color_list div.butts a,div.color_pic div.color_list div.butts a span{
    height:20px;
}
.menu-edit a,#text-italic,#text-float-left,#text-float-none,#text-float-right,#text-float-center{
    margin-left:2px;
}
.menu-edit a,#edit-tmpl-name,.text-title,div.head div.menu a,div.head div.menu div.childs a,a.full,div.saves a,div.actions span,div.buttons a,div.small_button a,div.setform span.b1,div.pages-dialog div.items div.item a.name,div.pages-dialog span.date,div.pages-dialog div.items div.item a.trash,div.color_pic div.pole span,div.color_pic div.color_list div.main-pics span,div.color_pic div.color_list div.butts a,div.color_pic div.color_list div.butts a span{
    display:block
}
.menu-edit a,#edit-tmpl-name,#name-input,.field-desctiption,#row-down,#row-up,#text-height-edit,div.head div.menu div,div.head div.menu div.childs,div.head div.menu div.left,div.head div.logo,div.head .drop,.element-pic,#text-bold,#text-italic,#text-float-left,#text-float-none,#text-float-right,#text-float-center,div.template div.input,div.options div.template span,div.options div.template,div.actions span,div.buttons,div.buttons a,.img-edit a.select,div.setform div.item,div.setform div.item input,div.setform div.item span,div.setform span.b1,div.setform div.checkers,div.setform div.font_size,div.setform div.optional,div.setform div.optional span,div.setform div.optional div.buttons,.ui-dialog-content div.buttons div,
div.pages-dialog div.items div.item a.name,div.pages-dialog div.items div.item,div.pages-dialog div.items,div.pages-dialog span.date,div.color_pic div.pole,div.color_pic div.pole span,div.color_pic div.pole div.color_box,div.color_pic div.tuker,div.color_pic div.color_list div.main-pics,div.color_pic div.color_list div.butts a,div.color_pic div.color_list div.butts a.no_color{
    float:left;
}
#edit-tmpl-name{
    background:url("/static/img/hover_text_icon.png") no-repeat 0 0;
    height:16px;
    width:16px
}
/*.ui-dialog, .ui-dialog *{z-index: 999999;}*/
.ui-dialog-content div.buttons div.select{
    background-position:0 -24px;
}
#edit-tmpl-name,#row-down,#row-up,div.color_pic div.pole div.color_box,div.color_pic div.tuker{
    margin-top:2px
}
.menu-edit a.edit{
    background:no-repeat url("/static/img/edit_1.png")
}
#name-input{
    margin-right:18px
}
#name-input{
    width:180px
}
.text-edit{
    width:355px;
    height:102px;
    border:#000 solid 2px;
}
.text-edit,div.head div.menu .right,div.saves,div.saves a,div.small_button,div.small_button a,.img-edit input.text,div.pages-dialog div.items div.item a.trash{
    float:right
}
.text-title,div.saves a,div.buttons a,div.color_pic div.color_list div.main-pics,div.color_pic div.color_list div.main-pics span{
    text-align:center
}
.text-title,.line p{
    color:#535d8d
}
.text-title{
    width:auto
}
.text-title,div.container,.img-edit a.upload{
    margin:0 auto
}
.text-title,div.actions span{
    font-size:18px
}
.field-desctiption{
    margin-top:20px
}
#row-down,#row-up{
    background:no-repeat url("/static/img/row-up.png");
    width:8px;
    height:8px
}
#row-down{
    background:no-repeat url("/static/img/row-down.png");
    margin-top:11px;
    margin-left:-8px
}
#text-height-edit{
    margin-left:35px;
    margin-right:3px;
    width:30px
}
.menu-edit a.edit_o,div.small_button a.edit22{
    background:no-repeat url("/static/img/edit.png")
}
option,h2,h1,a,form,a{
    border:0;
    z-index:1;
    background:none
}
option,h2,h1,a,form,a,div.pages-dialog div.pages a.select{
    text-decoration:none
}
option,h2,h1,a,form,a,input{
    outline:none
}
option,h2,h1,a,form,a,div.head div.menu a,div.head div.menu div.childs a,div.color_pic div.color_list div.main-pics span,div.color_pic div.color_list div.butts a span{
    font-size:12px
}
div.head{
    height:175px;
    background:url("/static/img/head_menu.png") repeat-x;
    z-index:6666;
    top:0;
    left:0;

    *position: absolute;
    *top: expression(document.getElementsByTagName( 'body' )[0].scrollTop + "px");
}
div.head div.menu label{
    color:#fff;
    padding:6px 20px;
    cursor: pointer;
    display: block;
}
div.head div.menu input{
    float: left;
    margin-top: 6px;
    z-index: 5;
}
div.head div.menu,div.color_pic div.opt{
    position:relative
}
div.head div.menu div.childs,div.pages-dialog div.buttons{
    margin-left:0
}
div.head div.menu div.childs{
    margin-top:27px;
    background:#349294;
    border-bottom-width:2px;
    *left:expression($(this).parent().position().left)
}
div.head div.menu div.childs,.tool-tip,#file-input,div.color_pic div.pole div.color_list{
    position:absolute;
}
div.head div.menu div.childs,div.actions span,div.pages-dialog div.selects,div.pages-dialog div.items div.item,div.pages-dialog div.pages,div.color_pic{
    text-align:left
}
div.head div.menu div.childs,div.color_pic div.pole div.color_list,div.color_pic div.color_list div.butts a{
    border:1px solid #848484
}
div.head div.menu div.childs,.img-edit .fileInput,div.color_pic div.pole div.color_list{
    display:none
}
div.head div.menu div.childs a,.img-edit a.upload{
    float:none
}
div.head div.menu div.childs a{
    border:1px solid #4ecdd0;
    margin-bottom:-1px;
    *width:100%
}
div.head div.menu,div.actions span,div.buttons a{
    /*    height:30px*/
}
div.head div.menu .right a.exit{
    background:0 4px url("/static/img/exit.png") no-repeat;
    padding-left:25px
}
div.head div.menu .right a.lk{
    background:0 4px url("/static/img/lk.png") no-repeat
}
div.container{
    width:960px
}
div.head div.logo{
    height:47px;
    width:225px;
    background:url("/static/img/logo.png") no-repeat;
    margin-top: 10px;
}
#name-template,div.color_pic div.color_list div.butts a{
    margin-top:15px
}
div.head div.menu2{
    height:57px
}
div.head .drop{
    height:50px;
    margin-top:7px
}
.element-pic{
    width:42px;
    height:42px;
    margin-left:10px
}
div.setform div.item{
    width:100px
}
.tool-tip{
    color:#fff;
    width: 120px;
    background:#000;
    font-size: 14px;
    padding: 4px;
    text-align: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    -webkit-opacity: 0.7;
    -khtml-opacity: 0.7;
    filter: alpha(opacity=70);
}
div.panel-content{
    border:1px solid #b9b9b9;
    height:800px;
    position: relative;
    float: left;
    background: transparent;


}
div.setka{
    background:url("/static/img/setka.png") repeat;
    background-color: #fff;
    float: left;
    height: 800px;
    margin: 160px auto 0;
    width: 960px;
}
#text-bold{
    background:url("/static/img/text-bold.png") no-repeat;
    margin-left:65px;
}
#text-bold,#text-italic,#text-float-left,#text-float-none,#text-float-right,#text-float-center,div.template div.input,div.template div.input option,div.template div.input select,div.small_button,div.pages-dialog select{
    height:24px
}
#text-bold,#text-italic,#text-float-left,#text-float-none,#text-float-right,#text-float-center{
    width:26px
}
#text-italic{
    background:url("/static/img/text-italic.png") no-repeat
}
#text-float-left{
    background:url("/static/img/text-float-left.png") no-repeat
}
#text-float-none{
    background:url("/static/img/text-float-none.png") no-repeat
}
#text-float-right{
    background:url("/static/img/text-float-right.png") no-repeat
}
#text-float-center{
    background:url("/static/img/text-float-center.png") no-repeat
}
div.template div.input{
    background:url("/static/img/select.png") no-repeat
}
div.template div.input,div.template div.input select{
    width:387px
}
div.template div.input option,div.template div.input select,div.pages-dialog select{
    font:14px tahoma;
    color:#184849
}
div.template div.input option{
    width:367px
}
div.options div.template span,.img-edit span,div.setform div.item,div.setform span.b1,div.setform div.font_size,div.setform div.optional,div.color_pic div.pole span,div.color_pic div.color_list div.main-pics span,div.color_pic div.opt input{
    color:#464646
}
div.options div.template span,div.saves a,div.buttons a,.img-edit span,.line p,div.setform div.item,div.setform span.b1,div.setform div.font_size,div.setform div.optional,div.pages-dialog,div.pages-dialog div.items div.item a.name,div.pages-dialog div.pages,div.color_pic div.pole span,div.color_pic div.opt input{
    font-size:14px
}
div.options div.template span{
    font-weight:bold;
    padding-top:3px
}
div.options div.template,div.saves{
    width:50%
}
.ui-dialog{
    padding:7px!important;
    background:#fff!important
}
.fake_head{
    height:173px
}
div.options {
    height: 68px;
    width:100%;
    background: #fafafa;


}
div.options .container{

}
div.saves a{
    background:no-repeat 0;
    height:30px!important
}
div.saves a,div.buttons a{
    color:#fefefe
}
div.ui-dialog div.saves a, div.ui-dialog div.buttons a, div.ui-dialog div.setform div.item{
    padding-top:9px;    
    height: 26px;
    /*    fucked ie*/
    *height: 30px;
    *padding-top: 5px;
}
div.ui-dialog div.setform div.item input[type="text"]{
    margin: 0;
    width: 60px;
    padding: 0;
}
div.saves a.save{
    background:url("/static/img/button_s.png") no-repeat;
    width:152px
}
div.saves a.save_as{
    background:url("/static/img/button_as.png") no-repeat;
    width:173px
}
div.pages-dialog div.items,div.pages-dialog div.buttons{
    margin-top:5px
}
div.actions {

}
div.actions{
    float: left;
}
div.actions span{
    color:#465188;
    padding-right:18px
}
#name-template{
    /*	width:220px*/
    margin-top: 5px;
}
div.buttons{
    margin-left:50px
}
div.buttons{
    margin-top:10px
}
div.buttons a.html{
    background:url("/static/img/but_html.png") no-repeat;
    width:66px
}
div.buttons a.view{
    background:url("/static/img/but_view.png") no-repeat;
    width:94px
}
.as-template,div.buttons a.getlink,.img-edit a.upload,.img-edit a.select{
    background:url("/static/img/but_gelink.png") no-repeat;
    width:140px
}
div.small_button{
    width:60px
}
div.small_button a{
    margin:2px
}
#file-input{
    font-size:50px;
    height:60px;
    margin-left:-600px;
    margin-top:-30px;
    opacity:0;
    -moz-opacity:0;
    -o-opacity:0;
    -khtml-opacity:0;
    -webkit-opacity:0;
    -ms-opacity:0;
    filter:alpha(opacity=0)
}
div.small_button a:hover{
    border:2px solid #b9b9b9;
    margin: 0;
    background-color:#b9b9b9; 
}
a.delete22{
    background:no-repeat url("/static/img/delete.png")
}
a.delete{
    background:no-repeat url("/static/img/delete.png")
}
.img-edit input.text{
    height:23px;
    border-radius:3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    padding:2px 2px;
    width:330px;
    border:solid 1px #494c59
}
div.setform{
    width:485px
}
div.setform div.item,div.color_pic div.opt input{
    height:22px
}
div.setform div.item,div.setform div.font_size select{
    border:solid 1px #515460
}
div.setform div.item{
    background:#e6e6e6;
    border-radius:2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    margin-right:4px;
    margin-left:4px;
    margin-bottom:6px
}
div.setform div.item input{
    margin:0 6px
}
div.setform div.item.select,div.setform div.font_size select{
    background:#fdfdfd
}
div.setform div.item.select{
    border-color:#359ea1
}
div.setform span.b1,div.color_pic div.color_list div.main-pics{
    margin-bottom:10px
}
div.setform div.checkers{
    margin-bottom:20px
}
div.setform div.font_size select{
    margin-left:15px
}
div.setform div.optional div.buttons{
    margin-left:17px
}
.ui-dialog-content div.buttons div{
    width:26px
}
.ui-dialog-content div.buttons div,div.color_pic div.tuker{
    height:24px
}
div.pages-dialog{
    color:#545454
}
div.pages-dialog select{
    width:391px;
    border:1px solid #a8aab6;
    background:#f9f9f9
}
div.pages-dialog div.items div.item a.name{
    color:#1f7c7e
}
div.pages-dialog div.items div.item a.name,div.pages-dialog div.pages a{
    text-decoration:underline
}
div.pages-dialog div.items div.item a.name,div.pages-dialog span.date{
    padding-left:7px
}
div.pages-dialog div.items div.item{
    padding:5px;
    border-bottom:1px solid #afafaf
}
div.pages-dialog div.items{
    border:1px solid #afafaf;
    border-bottom:none
}
div.pages-dialog div.link {}
div.pages-dialog div.link div.item {width: 100%; padding: 5px 0;}
div.pages-dialog div.link div.item a.name { display:  inline-block; width: auto ;}
div.pages-dialog span.date{
    color:#535656;
    font-size:11px
}
div.pages-dialog div.pages{
    padding-top:10px
}
div.pages-dialog div.pages a{
    color:#2e8587;
    margin-left:6px
}
div.pages-dialog div.items div.item a.trash{
    background:url("/static/img/trash.png") no-repeat 0 0;
    width:18px;
    height:21px;
    margin-right:8px
}
.but1{
    background:url("/static/img/setform/button_dotted.png");
    width:18px;
    height:21px;
}
.but2{
    background:url("/static/img/setform/button_ramka3.png")
}
.but3{
    background:url("/static/img/setform/button_ramka2.png")
}
.but4{
    background:url("/static/img/setform/button_ramka.png")
}
.but5{
    background:url("/static/img/setform/button_none.png")
}
div.color_pic div.pole{
    min-width: 237px;
}
div.color_pic div.pole span{
    padding-top:4px;
    padding-left:10px
}
div.color_pic div.pole div.color_box,div.color_pic div.color_list div.butts a{
    padding:1px
}
div.color_pic div.pole div.color_box{
    border:1px solid #494c59
}
div.color_pic div.pole div.color_box,div.color_pic div.tuker,div.color_pic div.opt input{
    margin-left:5px
}
div.color_pic div.opt{
    margin-left:3px
}
div.color_pic div.tuker{
    background:no-repeat 0 0;
    width:46px
}
div.color_pic div.pole div.text{
    background:url("/static/img/colorpicker/text_color.png")
}
div.color_pic div.pole div.bg, div.color_pic div.pole div.bg-form{
    background:url("/static/img/colorpicker/bg_color.png")
}
div.color_pic div.pole div.border{
    background:url("/static/img/colorpicker/border_color.png")
}
div.color_pic div.pole div.color_list{
    width:221px;
    height:237px;
    margin-top:26px;
    z-index:999999;
    cursor:auto;
    *left:expression(parseInt($(this).parent().position().left)-77+'px');
    *top:expression(parseInt($(this).parent().position().left)-28+'px');
}
div.color_pic div.pole div.color_list *{
    z-index:999999;
}
div.color_pic div.pole div.select div.color_list{
    display:inline-block
}
div.color_pic div.color_list div.color_box{
    margin-left:3px!important
}
div.color_pic div.color_list div.main-pics span{
    padding:3px 0;
    width: 100%;
}
div.color_pic div.color_list div.butts{
    padding:15px 5px
}
div.color_pic div.color_list div.butts a{
    border-radius:1px;
    -moz-border-radius: 1px;
    -khtml-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    -ms-border-radius: 1px;
}
div.color_pic div.color_list div.butts a span{
    background:#d8d9db;
    padding:0 3px;
    color:#2d2d2d
}
div.color_pic div.color_list div.butts a.other{
    float:right!important
}
div.color_pic div.opt input#text-color-edit, div.color_pic div.opt input#text-font-color-edit,
div.color_pic div.opt input#border-color-edit,div.color_pic div.opt input#bg-color-edit,div.color_pic div.opt input#color-edit, div.color_pic div.opt input#bg-form-color-edit{
    width:106px;
    margin-top:3px;
    padding-left:3px
}
div.color_pic div.opt div#text-color, div.color_pic div.opt div#text-font-color,
div.color_pic div.opt div#border-color,div.color_pic div.opt div#bg-color, div.color_pic div.opt div#bg-form-color {
    height: 20px
}
#colors-selector *{
    z-index: 9999999;
}
#colors-selector{
    position: absolute;
    margin-top:26px;
}
div.setform div.buttons{
    margin-top: 0;
}
.actions .buttons{
    margin-top: 0;
}
.font_option .select {
    background-position: 0 -24px !important;
}
.player,div.player div.bg,div.player div.body{
    height:20px}
.player,div.player div.bg{
    width:250px}
.player{
    border-radius:6px;
    -moz-border-radius:6px;
    -khtml-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    overflow:hidden}
div.player div.bg{
    background:#000 url(bg.png);
    opacity:0.9;
    -moz-opacity:0.9;
    -khtml-opacity:0.9;
    -o-opacity:0.9;
    -webkit-opacity:0.9;
    filter:alpha(opacity=90)

}
div.player div.body{
    position:absolute;
    width:238px;
    margin-left:6px;
    margin-top:-20px}
div.player div.body div.buttons a{
    background:url(button.png);
    width:8px;
    height:8px;
    display:block}
div.player div.body div.buttons a,div.player div.body div.buttons,div.player div.body div.duration{
    cursor:pointer;
    overflow:visible}
div.player div.body div.buttons{
    padding-top:6px;
    padding-left:3px;
    padding-right:3px}
div.player div.body div.buttons,div.player div.body div.duration,div.player div.body div.bord{
    float:left}
div.player div.body div.buttons a.play{
    background-position:0 8px}
div.player div.body div.duration{
    width:200px;
    height:0;
    border-bottom:1px solid #606060;
    border-top:1px solid #919191;
    margin-top:9px;
    margin-left:10px}
div.player div.body div.bord{
    height:13px;
    margin-top:3px;
    border-left:1px solid #606060;
    border-right:1px solid #919191;
    margin-left:3px}
div.player div.body div.duration div{
    background:#fff;
    height:7px;
    width:15px;
    border-radius:2px;
    -moz-border-radius:2px;
    -khtml-border-radius:2px;
    -o-border-radius:2px;
    -webkit-border-radius:2px;
    -ms-border-radius:2px;
    margin-top:-3px
}

div.line_wight{
    width: 960px;
    height: 18px;

    overflow: hidden;
    border-left: 1px solid #656565;
    border-right: 1px solid #656565;
    margin-top: -18px;
    margin-left: -1px;
    position: fixed;
    z-index: 499;

    *position: absolute;
    *top: expression(document.getElementsByTagName( 'body' )[0].scrollTop + parseInt($(this).parent().position().top) + 1 +"px");
    *left:expression(parseInt($(this).parent().position().left)+ 1 + 'px');




}
div.line_wight div.body{
    background:url("/static/img/line_wight.jpg");
    text-align: left;
    width: 100%;
    height: 100%;
    margin-left: -1px;

}
div.line_wight span{
    width: 97px;
    display: block;
    text-align: right;
    float: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: 10px;
    color: #656565;

}


div.line_height{
    width: 18px;
    height: 800px;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
    margin-left: -19px;
    position: absolute;
    z-index: 499;
    overflow: hidden;


    *left:expression(parseInt($(this).parent().position().left) + 2 +'px');

}
div.line_height div.body{
    background:url("/static/img/line_height.jpg");
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: -2px;
}
div.line_height div{
    height: 97px;
    text-align: left;
    float: left;
    margin-top: 1px;
    margin-bottom: 2px;
    width: 18px;
}
div.line_height div span{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -khtml-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    writing-mode: tb-rl;
    -moz-transform: rotate(-90deg);
    color: #656565;
    display: block;
    font-size: 10px;
    margin-left: -39px;
    margin-top: 37px;
    position: absolute;
    width: 97px;
}


/*div.line_qurd{
    width: 17px;
    height: 16px;
    margin-left: -19px;
    border-top: 1px solid #656565;
    border-left: 1px solid #656565;
    border-bottom: 1px solid #656565;
    background: #bcbfcd;
    position: fixed;
    float: left;
    margin-top: -18px;
    z-index: 4901;
}*/
/* 
    Document   : style
    Created on : 10.04.2012, 14:25:42
    Author     : errorman
    Description:
        Purpose of the stylesheet follows.
*/
body, html{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
a{
    cursor: pointer;
    outline: none;
}
div.head {
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 145px;
    *position:absolute;
    *top:expression(document.documentElement.scrollTop)
}
div.head div.panel{
    height: 50px;
    background-color: #4b5580;
    width: 100%;
    border-bottom: #444a67 1px solid;
}
div.head a.menu_but{
    width: 120px;
    height: 43px;
    background: url("/static/img/menu_but.png") no-repeat;
    display: block;
    margin-top: 7px;
    float: left;
} 
div.head a.menu_but.select{
    background-position: 0 -43px;
}
div.head div.panel div.buttons{
    margin-top: 11px;
    margin-left: 10px;
    float: left;
}
div.head div.panel div.buttons a{
    height: 35px;
    width: 36px;
    display: block;
    float: left;
    color: transparent;
    user-select:none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;  
    margin:0 3px;
    unselectable:'on';
}
div.head div.panel div.buttons a.save{
    background: url("/static/img/buttons/save_small.png")
}
div.head div.panel div.buttons a.back, div.head div.panel div.buttons a.next{
    background: url("/static/img/buttons/back_next.png") 0 3px;
    height: 30px;
}
div.head div.panel div.buttons a.next{
    background-position: 34px 3px;
}
div.head div.panel div.buttons a.new, div.head div.panel div.buttons a.open{
    background: url("/static/img/buttons/new_open.png");
    background-position: 0 0;
    width: 29px;

}
div.head div.panel div.buttons a.open{
    background-position: 35px 0;
    width: 35px;
}
div.head div.panel div.buttons a.http, div.head div.panel div.buttons a.html{
    background: url("/static/img/buttons/html_http.png") no-repeat;
    background-position: 1px 0;
    width: 41px;
    height: 26px;
    margin-top: 4px;
    margin-left: 10px;

}
div.head div.panel div.buttons a.http{
    background-position: -40px 0;
}
div.head div.panel div.buttons a.view{
    background: url("/static/img/buttons/view.png");
}

div.head div.panel div.buttons a.public{
    background-image: url("/static/img/buttons/public_big.png");
}

div.head div.panel div.buttons a.help{
    background: url("/static/img/buttons/help.png");
}
div.head div.panel div.page_name{
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    float: left;
    font-weight: bolder;
    margin: 0 70px;
}
div.head div.panel div.lk_panel{
    float: right;
}
div.head div.panel div.lk_panel a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 0 5px;
    background-color: #7880a0;
    float: left;
    margin-top: 10px;
    padding-top: 3px;
    margin-left: 10px;
    padding-left: 30px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
div.head div.panel div.lk_panel a.lk{
    background-image: url("/static/img/buttons/lk.png");
}
div.head div.panel div.lk_panel a.exit{
    background-image: url("/static/img/buttons/exit.png");
}
div.head div.panel menu_body{
    z-index: 99999px
}
div.head div.panel div.menu{
    display: none;
    position: absolute;
    margin-top: 51px!important;
    width: 234px;
    background: url("/static/img/menu_bg.png") repeat-y;
    *top: expression(parseInt($(this).parent().position().top) + 'px');
    *left:expression(parseInt($(this).parent().position().left) + 'px');
}
div.head div.panel div.menu div.bottom{
    width: 234px;
    height: 44px;
    background: url("/static/img/menu_bg_bot.png") no-repeat;


}
/*div.head div.panel div.menu div.head{
    width: 234px;
    height: 29px;
    background: url("/static/img/menu_bg_head.png") repeat;
    color: #4b5580;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;

}*/
div.head div.panel div.menu div.central{
    width: 234px;
    /*    margin-top: 44px;*/
    margin-top: 10px;
    margin-bottom: 30px;
}
div.head div.panel div.menu div.central a{
    width: 163px;
    height: 30px;
    color: #242424;
    font-size: 15px;
    display: block;
    padding-left: 70px;
    background-repeat: no-repeat;
    background-position: 26px 0;
    padding-top: 10px;
    text-align: left;
}
div.head div.panel div.menu div.central a:hover{
    background-color: #ecf1f1;
}
div.head div.panel div.menu div.central a.close:hover{
    background-color: transparent;
}
div.head div.panel div.menu div.central a.close{
    position: absolute;
    bottom: 5px;
    right: 23px;
    width: 60px;
    height: 20px;
    padding: 0;
    color: #9b598c;
}
div.head div.panel div.menu div.central a.create{
    background-image: url("/static/img/buttons/create_big.png");
}
div.head div.panel div.menu div.central a.open{
    background-image: url("/static/img/buttons/open_big.png");
    background-position: 23px 0;
}
div.head div.panel div.menu div.central a.save{
    background-image: url("/static/img/buttons/save_big.png");
}
div.head div.panel div.menu div.central a.saveas{
    background-image: url("/static/img/buttons/save_as_big.png");
}
div.head div.panel div.menu div.central a.html_view{
    background-image: url("/static/img/buttons/html_big.png");
    background-position: 26px 6px;
}
div.head div.panel div.menu div.central a.link{
    background-image: url("/static/img/buttons/http.png");
    background-position: 26px 6px;
}
div.head div.panel div.menu div.central a.view{
    background-image: url("/static/img/buttons/view_big.png");
}
div.head div.panel div.menu div.central a.public{
    background-image: url("/static/img/buttons/public_big.png");
}
div.head div.panel div.menu div.central a.help{
    background-image: url("/static/img/buttons/help_big.png");
    position: absolute;
    float: none;
}
div.head div.instruments{
    height: 58px;
    width: 100%;
    padding-bottom: 12px;
    background-image: url("/static/img/bg_instrument.png");
    background-repeat: repeat-x;
    background-position: 0 78px;
    padding-top: 20px;
    background-color: #fff;

    /*    for ie*/.
    *padding-bottom: 0;
    *height: 70px;
}
div.head div.instruments div.logo{
    width: 225px;
    height: 30px;
    background: url("/static/img/logo.png") no-repeat;
    float: left;
    margin-top: 5px;
}
div.head div.instruments div.logo a{
    width: 100%;
    height: 100%;
    display: block;
}
div.container{
    width: 1000px;
    margin: 0 auto;

    /*    for ie*/
    *position: absolute;
    *left: 50%;
    *margin-left: -500px;
}
div.head div.instruments div.items a{
    height: 42px;
    width: 42px;
    float: left;
    margin-right: 5px;
    background-repeat: no-repeat;
    display: block;
    background: url("/static/img/instruments.png");
}
div.head div.instruments div.items{
    float: left;
    margin-left: 30px;

}
div.head div.instruments div.items a.text{
    background-position: -294px 0;
}
div.head div.instruments div.items a.list{
    background-position: -252px 0;
}
div.head div.instruments div.items a.img{
    background-position: -210px 0;
}
div.head div.instruments div.items a.box{
    background-position: -168px 0;
}
div.head div.instruments div.items a.link{
    background-position: -126px 0;
}
div.head div.instruments div.items a.drop{
    background-position: -84px 0;
}
div.head div.instruments div.items a.podpos{
    background-position: -42px 0;
}
div.head div.instruments div.small_buttons{
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}
div.head div.instruments div.small_buttons a.html, div.head div.instruments div.small_buttons a.http{
    float: left;
    width: 45px;
    height: 28px;
    background: url("/static/img/buttons/html_http2.png") no-repeat;
    display: block;
    margin-left: 7px;
    margin-top: 3px;

}
div.head div.instruments div.small_buttons a.http{
    background-position: -45px 0;
}
div.head div.instruments div.small_buttons div.right{
    float: left;
    margin-left: 40px;
    height: 31px;
    position: relative;
}
div.head div.instruments div.small_buttons div.right a{
    background: url("/static/img/buttons/edit_clear.png") no-repeat;
    height: 30px;
    width: 37px;
    display: block;
    float: left;

    position: absolute;
}
div.head div.instruments div.small_buttons div.right a.clear{
    background-position: 0 -30px;
    margin-left: 44px;
}
div.panel-content{
    border:1px solid #b9b9b9;
    height:800px;
    width: 960px;
    float: left;

}
/*COUNTER*/
div.counter_block {font-family: 'Verdana','Sans-serif'; font-size: 14px;border: 1px solid #C9C8C8; text-align: center; display: inline-block; padding: 6px 10px; background-color: #EFEFEF; border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
div.counter_block div {}
div.counter_block div span {border-radius: 1px; -webkit-border-radius: 1px; -moz-border-radius: 1px;display: inline-block; background-color: #312A20; text-align: center; font-size: 12px; padding: 2px; line-height: 14px; color: #fff; margin: 0 2px;}

/*HELP*/
.window_support {position: fixed;z-index: 9999; top: 50%; left: 50%; text-align: right;border: 1px solid #5f5f5f; border-radius: 2px; background: url('/static/img/bg_support.jpg') 50% 0% no-repeat #fff;  -webkit-border-radius: 2px; -moz-border-radius: 2px; width: 512px; margin-left: -256px; font-family: 'Tahoma','Sans-serif'; padding-top: 6px;}
.window_support h3.title {font-weight: normal; text-align: center; color: #4c4c4c; margin: 0;font-size: 18px;}
.window_support ul { text-align: left; margin: 0; padding: 0; list-style: none; margin-left: 10px; margin-top: 35px;}
.window_support ul li {text-align: left;font-size: 12px; margin-bottom: 12px;margin-left: 23px;}
.window_support ul li a {color: #116fe3; text-decoration: none;}
.window_support ul li a:hover {text-decoration: underline;}
.window_support ul li:first-child {margin-bottom: 13px; margin-left: 0; color: #4c4c4c; font-size: 18px;}
.window_support p.support_man {display: inline-block; font-size: 12px; margin: 0; background: url('/static/img/man_support.png') 0% 0% no-repeat transparent; padding: 10px 0; padding-left: 30px; margin-right: 10px;}
.window_support p.support_man a {color: #116fe3; text-decoration: none;}
.window_support p.support_man a:hover {text-decoration: underline;}
.window_support a.close {position: absolute; top: 6px; right: 7px; z-index: 99; display: block; width: 23px; height: 18px; background: url('/static/img/close.jpg') 0% 0% no-repeat transparent; cursor: pointer; text-decoration: none;}
.window_support a.close:active {background: url('/static/img/close_active.jpg') 0% 0% no-repeat transparent;}

/*.wrap-el{
    cursor: move;
}*/

/*----------- element Layer -----------*/

.element_layer {font-family: 'Tahoma','Sans-serif'; position: fixed;z-index: 10001; background-color: #f9f9f9; right: 0;bottom: 0;min-width: 288px;border-top: 3px solid #434c72; border-left: 1px solid #d1d1d1;}
.element_hide {right: -300px;}
.element_layer a.head_link {font-size: 12px;color: #ffffff;background: rgb(75,85,128);
                            background: -moz-linear-gradient(top,  rgba(75,85,128,1) 0%, rgba(62,70,105,1) 100%);
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,85,128,1)), color-stop(100%,rgba(62,70,105,1)));
                            background: -webkit-linear-gradient(top,  rgba(75,85,128,1) 0%,rgba(62,70,105,1) 100%);
                            background: -o-linear-gradient(top,  rgba(75,85,128,1) 0%,rgba(62,70,105,1) 100%);
                            background: -ms-linear-gradient(top,  rgba(75,85,128,1) 0%,rgba(62,70,105,1) 100%);
                            background: linear-gradient(to bottom,  rgba(75,85,128,1) 0%,rgba(62,70,105,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b5580', endColorstr='#3e4669',GradientType=0 );
                            float: left;
                            width: 50%;
                            padding-top: 5px;
                            height: 23px;
                            text-align: center;
}
.element_layer a.head_link_active {
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 1, 1, 0.37);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 1, 1, 0.37);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0, 1, 1, 0.37);
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(217,217,217,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(217,217,217,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(217,217,217,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(217,217,217,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
    color: #7a7a7a;
}

.element_layer a.panel_hide {position: absolute;z-index: 10001;height: 20px;width: 31px;top: 0;right: 0px;padding-top: 8px;}
.element_layer a.panel_hide span {background: url('/static/img/element/sprite_show_hide.png') 0% 0% no-repeat;display: block;width: 15px; height: 10px;margin: 0 auto;}
.element_layer a.panel_show {right: 285px;border-top: 3px solid #434c72; padding-top: 32.5px;height: 47.5px; border-radius: 5px;}
.element_layer a.panel_show span {background-position: 0% -10px; width: 7px;margin: 0;margin-left: 5px;}
.element_layer a.panel_hide:hover span {background-position: 0% -21px;}
.element_layer a.panel_show:hover span {background-position: 0% 100%;}


.element_layer .elem_content {
    height: 403px;
    border-top: 1px solid #979998;
    border-bottom: 1px solid #d1d1d1;
    overflow-y: scroll;
    overflow-x: hidden;

}
.element_layer .elem_content div.elem_body{

    position: relative;
    padding-right: 20px;
}

.element_layer .elem_foot {background: rgb(255,255,255);
                           background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(213,213,213,1) 100%);
                           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(213,213,213,1)));
                           background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%);
                           background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%);
                           background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%);
                           background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%);
                           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d5d5',GradientType=0 );
                           height: 18px;
}
.element_layer .elem_content .elem_item {padding: 10px 0 10px 13px;border-top: 1px solid #d1d1d1; width: 100%;}
.element_layer .elem_content .elem_item:first-child {border-top: none;}
.element_layer .elem_content .elem_item ul {list-style: none;margin: 0;padding: 0;}
.element_layer .elem_content .elem_item ul li {color: #7a7a7a;cursor: default;font-size: 12px; text-overflow: ellipsis;display: block;padding-top: 0px;margin-top: 2px;background: url('/static/img/element/line.gif') 10px 19px repeat-y;}
.element_layer .elem_content .elem_item ul li span.text-wrapper {background-color: transparent;border: none; display: block; width: auto;height: auto;float: left}
.element_layer .elem_content .elem_item ul li span.elem_li_active {background-color: #0a246a; color: #FFF;display: block;width: auto;height: auto;float: left}

.element_layer .elem_content .elem_item ul li span {display: block; width: 20px; height: 20px;float: left;background: 0% 0% no-repeat;margin-right: 4px;}
.element_layer .elem_content .elem_item ul li span.clear {height: 0;width: 0;clear: both;margin: 0;}
.element_layer .elem_content .elem_item ul li span.el-text {background-image: url('/static/img/element/text-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-audio {background-image: url('/static/img/element/audio-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-youtube {background-image: url('/static/img/element/video-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-html {background-image: url('/static/img/element/html-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-visit-counter {background-image: url('/static/img/element/counter-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-form {background-image: url('/static/img/element/form-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-link {background-image: url('/static/img/element/link-ico.png')}
.element_layer .elem_content .elem_item ul li span.areaedit {background-image: url('/static/img/element/area-ico.png')}
.element_layer .elem_content .elem_item ul li span.el-image {background-image: url('/static/img/element/image-ico.png')}

.element_layer .elem_content .elem_item ul li ul {}
.element_layer .elem_content .elem_item ul li ul li {width: 100%;padding-left: 15px;margin-left: 10px; background-position: 25px 19px;margin-top: 5px;
                                                     /* background: url('/static/img/element/middle.gif') 10px 0px no-repeat;*/
}

.element_layer .elem_content .elem_item ul span.elem_edit {
    position: absolute;
    right: 3px;
    right: 23px;
    padding: 0; 
    width: 18px; 
    height: 17px;
    cursor: pointer;
    margin-top: 2px; 
    background: url('/static/img/element/ne_edit.png') 0% 0% no-repeat;}
.element_layer .elem_content .elem_item ul span.elem_delete {
    position: absolute;
    right: 3px;
    padding: 0; 
    width: 18px; 
    height: 17px;
    cursor: pointer;
    margin-top: 2px; 
    background: url('/static/img/element/new_delete.png') 0% 0% no-repeat;}

.selected-el {outline:solid 4px #656FFF !important;
}
.element_layer .elem_content .elem_item ul li.element_block{
    display: block;
    width: 100%;
    min-height: 20px;
}