{% extends "base.html" %}
{% block body %}
    Главная страницо
    {% if request.user.is_anonymous %}
        <a href="{% url 'register' parent_id=default_parent %}">Вход/Регистрация</a>
    {% else %}
        <a href="{% url 'office' %}">Оффис</a>
    {% endif %}
{% endblock %}