{% extends "base.html" %}
{% block body %}
    Оффис
    {% if profile.role = 0 %}
        <a href="{% url 'bay_product' product_alias='construct' %}">Купить</a>
    {% endif %}

    {% if profile.role = 1 %}
        <a href="{% url 'construct' %}">Коструктор</a><br/>
        <a href="{% url 'storage' %}">Хранилище</a><br/>
    {% endif %}

{% endblock %}