<!DOCTYPE html>

<html>
<head>
    {% block css %}
        <!-- main CSS where -->
    {% endblock %}

    {% block js %}
        <script src="/static/js/jquery/jquery-1.7.js" type="text/javascript"></script>
        <script src="/static/js/jquery/jquery.tmpl.js" type="text/javascript"></script>
        <script src="/static/js/jquery/jquery.placeholder.min.js" type="text/javascript"></script>
    {% endblock %}


</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>