{% extends "base.html" %}

{% block css %}
    <link href="/static/css/ui-lightness/jquery-ui-1.8.17.css" type="text/css" rel="stylesheet">
    <link href="/static/css/colorpicker.css" type="text/css" rel="stylesheet">
    <link href="/static/css/index/style.css" type="text/css" rel="stylesheet">
    <link href="/static/css/index/dialog.css" type="text/css" rel="stylesheet">
    <link href="/static/css/index/dialog_content.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="/static/js/jquery/jquery-1.7.js" type="text/javascript"></script>
    <script src="/static/js/jquery/jquery.tmpl.js" type="text/javascript"></script>
    <script src="/static/js/jquery/jquery.placeholder.min.js" type="text/javascript"></script>

    <script src="/static/js/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/js/jquery/jquery.json-2.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery/jquery-ui-1.8.17.js" type="text/javascript"></script>
    <script src="/static/js/jquery/colorpicker.js" type="text/javascript"></script>
    <script src="/static/js/jquery/eye.js" type="text/javascript"></script>
    <script src="/static/js/jquery/utils.js" type="text/javascript"></script>
    <script src="/static/js/jquery/layout.js" type="text/javascript"></script>


    <script src="/static/js/ckeditor/ckeditor.js" type="text/javascript"></script>

    <script src="/static/js/eventEmitter.js" type="text/javascript"></script>
    <script src="/static/js/geometry.js" type="text/javascript"></script>
    <script src="/static/js/gui.js" type="text/javascript"></script>
    <script src="/static/js/elements/elements.js" type="text/javascript"></script>
    <script src="/static/js/elements/elementsPrototypes.js" type="text/javascript"></script>
    <script src="/static/js/elements/elementsFunctions.js" type="text/javascript"></script>
    <script src="/static/js/loader.js" type="text/javascript"></script>
    <script src="/static/js/World.js" type="text/javascript"></script>
    {% include "jqtemplates.html" %}
{% endblock %}

{% block body %}
    <script>
        var userName = 'TEZT';
    </script>
    <div class="head">
        <div class="panel"><a class="menu_but"></a>

            <div class="menu_body">
                <div class="menu">

                    <div class="central">
                        <a class="create">Создать</a>
                        <a class="open">Открыть</a>
                        <a class="save">Сохранить</a>
                        <a class="saveas">Сохранить как</a>

                        <div class="border"></div>
                        <a class="html_view">HTML-просмотр</a>
                        <a class="link">Ссылка</a>
                        <a class="view">Просмотр</a>
                        <a class="public">Опубликовать</a>
                        <a class="help">Помощь</a>
                        <a class="close">Закрыть&nbsp;Х</a>

                    </div>
                    <div class="bottom"></div>
                </div>
            </div>
            <div class="buttons">
                <a class="save"></a>
                <a class="back"></a>
                <a class="next"></a>
                <a class="new"></a>
                <a class="open"></a>
                <a class="http"></a>
                <a class="html"></a>
                <a class="view"></a>
                <a class="public"></a>
                <a class="help"></a>


            </div>
            <div class="page_name">Безымянный проект</div>
            <div class="lk_panel">
                <a class="lk" target="_blank" href="http://ruelsoft.com/office/">Ваш личный кабинет</a>
                <a class="exit" href="http://ruelsoft.com/users/signout/">Выход из программы</a>
            </div>

        </div>
        <div class="instruments">
            <div class="container">
                <div class="logo"><a title="Главная" href="http://ruelsoft.com/"></a></div>
                <div class="items drop">

                </div>
                <div class="small_buttons">
                    <a class="html"></a>
                    <a class="http"></a>

                    <div class="right">
                        <a class="edit"></a>
                        <a class="clear"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="setka">
            <div class="panel-content">
                <div class="line_wight">

                    <div class="body">
                        <span>100</span>
                        <span>200</span>
                        <span>300</span>
                        <span>400</span>
                        <span>500</span>
                        <span>600</span>
                        <span>700</span>
                        <span>800</span>
                        <span>900</span>
                        <span>1000</span>
                    </div>
                </div>
                <div class="line_height">
                    <div class="body">
                        <div><span>100</span></div>
                        <div><span>200</span></div>
                        <div><span>300</span></div>
                        <div><span>400</span></div>
                        <div><span>500</span></div>
                        <div><span>600</span></div>
                        <div><span>700</span></div>
                        <div><span>800</span></div>
                    </div>
                </div>
                <div id="key">
                    <div class="wrap-el">
                        <div id="key"
                             style="display:none;width:0;height:0;visibility: hidden;"><?php echo urlencode($this->key)
                            ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="element_layer element_hide">
            <a href="#" class="head_link panel_hide panel_show"><span></span></a>
            <a href="#" class="head_link head_link_active">Элементы</a>
            <a href="#" class="head_link">Слои</a>

            <div class="clear"></div>
            <div class="elem_content">
                <div class="elem_body">

                </div>
            </div>
            <div class="elem_foot"></div>
        </div>
    </div>

{% endblock %}