{% verbatim %}
<!--templates-->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-----------------------------------------TextEdit template----------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="text-edit" type="text/x-jquery-tmpl">

    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog" style="left: 50%; top: 50%; margin-left: -226.5px; margin-top: -128.5px; position: absolute; z-index: 999999999999">
            <div class="d_title">
                <span>Вставка текста</span>
                <a title="Закрыть" class="d_close" logic="close"></a>
            </div>
            <div class="d_body">
                <textarea name="text-editor" id="mail_text"></textarea>
                <div class="d_buttons"  style="margin-top: 51px;">
                    <a id="save-btn" >Да</a>
                    <a id="close-btn">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="save-close-btns" type="text/x-jquery-tmpl">
    <div style="float: left; width: 100%;margin-top: 10px;" class="saves">
        <a id="save-btn" style="float: left; background-image: url(/static/img/button_s.png);width: 152px;">Сохранить</a>
        <a id="close-btn" style="float: right;background-image: url(/static/img/button_s.png);width: 152px;">Отменить</a>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------Color edit tmpl--------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="color-picker-tmpl" type="text/x-jquery-tmpl">
    <div class="color_pic">
        <div class="pole">
            <span>Цвет</span>
            <div class="opt"><div class="color_box">
                <div id="color" style="background: #232323;" class="color"></div></div>

                <!-- add class select -->
                <div class="tuker">
                    <div id="colors-selector"></div>
                    <div class="color_list">
                        <div class="main-pics">
                            <span>Основные цвета</span>
                            <div class="color_box"><div style="background: #fc0000;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fc9b02;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fafc00;" class="color"></div></div>
                            <div class="color_box"><div style="background: #01fc01;" class="color"></div></div>
                            <div class="color_box"><div style="background: #02fcfa;" class="color"></div></div>
                            <div class="color_box"><div style="background: #0012fc;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fc01d0;" class="color"></div></div>
                            <div class="color_box"><div style="background: #ffffff;" class="color"></div></div>
                        </div>
                        <div class="other">
                            <div class="color_box"><div style="background: #fcb6b6;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fcceac;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fcf8b2;" class="color"></div></div>
                            <div class="color_box"><div style="background: #c7fcad;" class="color"></div></div>
                            <div class="color_box"><div style="background: #a6fce5;" class="color"></div></div>
                            <div class="color_box"><div style="background: #b2cefc;" class="color"></div></div>
                            <div class="color_box"><div style="background: #f8b8fc;" class="color"></div></div>
                            <div class="color_box"><div style="background: #dddddd;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fe8989;" class="color"></div></div>
                            <div class="color_box"><div style="background: #f9ba68;" class="color"></div></div>
                            <div class="color_box"><div style="background: #fee378;" class="color"></div></div>
                            <div class="color_box"><div style="background: #a4fe78;" class="color"></div></div>
                            <div class="color_box"><div style="background: #78fee7;" class="color"></div></div>
                            <div class="color_box"><div style="background: #7891fe;" class="color"></div></div>
                            <div class="color_box"><div style="background: #f078fe;" class="color"></div></div>
                            <div class="color_box"><div style="background: #b7b7b7;" class="color"></div></div>
                            <div class="color_box"><div style="background: #a10000;" class="color"></div></div>
                            <div class="color_box"><div style="background: #a16200;" class="color"></div></div>
                            <div class="color_box"><div style="background: #d0a202;" class="color"></div></div>
                            <div class="color_box"><div style="background: #3ab000;" class="color"></div></div>
                            <div class="color_box"><div style="background: #00b0ae;" class="color"></div></div>
                            <div class="color_box"><div style="background: #001db0;" class="color"></div></div>
                            <div class="color_box"><div style="background: #a0009e;" class="color"></div></div>
                            <div class="color_box"><div style="background: #898989;" class="color"></div></div>
                            <div class="color_box"><div style="background: #6c0202;" class="color"></div></div>
                            <div class="color_box"><div style="background: #6c4502;" class="color"></div></div>
                            <div class="color_box"><div style="background: #6c6802;" class="color"></div></div>
                            <div class="color_box"><div style="background: #0e6c02;" class="color"></div></div>
                            <div class="color_box"><div style="background: #026c68;" class="color"></div></div>
                            <div class="color_box"><div style="background: #02096c;" class="color"></div></div>
                            <div class="color_box"><div style="background: #63026c;" class="color"></div></div>
                            <div class="color_box"><div style="background: #515151;" class="color"></div></div>
                            <div class="color_box"><div style="background: #421715;" class="color"></div></div>
                            <div class="color_box"><div style="background: #442f13;" class="color"></div></div>
                            <div class="color_box"><div style="background: #444213;" class="color"></div></div>
                            <div class="color_box"><div style="background: #134419;" class="color"></div></div>
                            <div class="color_box"><div style="background: #155453;" class="color"></div></div>
                            <div class="color_box"><div style="background: #181554;" class="color"></div></div>
                            <div class="color_box"><div style="background: #410d40;" class="color"></div></div>
                            <div class="color_box"><div style="background: #000000;" class="color"></div></div>
                        </div>
                        <div class="butts">
                            <span style="margin:0;padding:0"><a class="no_color"><span>Нет цвета</span></a></span>
                            <a class="other"><span>Другие цвета...</span></a>
                        </div>
                    </div>
                </div>
                <input id="color-edit" type="text"/>
            </div>
        </div>
    </div>
</script>

<script id="open-dialog-item" type="text/x-jquery-tmpl">
    <tr
            id="${el.id}">
        <td id="name" class="two_tree_child">${el.human_name}</td>
        <td id="disk-name" class="two_tree_child">
            {{if el.server_name}}
            <a href="http://<?php echo strtolower(Zend_Registry::get("userdata")->username) ?>.ruelsoft.org/${el.server_name}/ " target="_blank">
            http://<?php echo strtolower(Zend_Registry::get("userdata")->username) ?>.ruelsoft.org/${el.server_name}/
            </a>
            {{else}}
            <a class="button_view publish">Опубликовать</a>
            {{/if}}
        </td>
        <td class="four_child" data-date="${el.last_edit}">
            ${ $.parseDate(el.last_edit) }
        </td>
    </tr>
</script>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------ImageEdit template----------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="img-edit" type="text/x-jquery-tmpl">
    <div class="img-edit">
        <div class="dialog_container">
            <div class="wrap"></div>
            <div class="dialog" style="left: 50%; top: 50%; margin-left: -226.5px; margin-top: -128.5px; position: fixed; z-index: 999999999999">
                <div class="d_title">
                    <span></span>
                    <a title="Закрыть" class="d_close" logic="close"></a>
                </div>
                <div class="d_body">
                    <div class="signe" style="padding-top: 5px;">
                        Ссылка на картинку
                            <span>
                                <!-- При этом все проекты будут утеряны -->
                            </span>
                    </div>
                    <input id="img-src-edit" class="text d_input" type="text" style="width: 330px; float: none; color: #7F7E7C;font-size: 16px; font-weight: normal;font-family: 'Segoe UI';" /><br/>
                    <span style="color: #797979;font-size: 10px; margin-left: 27px;">Например: http://demo.appsruel.com/static/img/logotype1.png</span>
                    <div style="margin-top: 10px;">
                        <input style="margin-left: 27px;" id="is-link" type="checkbox"/>
                        <span style="">Включить кликабельность</span>
                    </div>
                    <div>
                        <input id="link-href" class="text d_input" type="text" style="width: 330px; float: none; color: #7F7E7C;font-size: 16px; font-weight: normal;font-family: 'Segoe UI'; margin-top: 5px;" />
                        <span style="display: block;color: #797979;font-size: 10px; margin-left: 27px;">Например http://ruelsoft.com/</span>
                    </div>


                    <div class="d_buttons"  style="margin-top: 51px;">
                        <a id="save-btn" >Да</a>
                        <a id="close-btn">Отмена</a>
                    </div>
                </div>
            </div>
        </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------Video edit----------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="video-edit" type="text/x-jquery-tmpl">
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog">
            <div class="d_title">
                <span>Настройки видео</span>
                <a title="Закрыть" class="d_close" logic="close"></a>
            </div>
            <div class="d_body">
                <div class="signe" style="padding-top: 5px;">
                    Ссылка на видео в YouTube
                            <span>
                                <!-- При этом все проекты будут утеряны -->
                            </span>
                </div>
                <input id="img-src-edit" class="text d_input" type="text" style="width: 80%; color: #7F7E7C;font-size: 16px; font-weight: normal;font-family: 'Segoe UI';" /><br/>
                <span style="color: #797979;font-size: 10px; margin-left: 27px;">Например: http://www.youtube.com/watch?v=Видео</span><br/>
                <input id="autoplay" type="checkbox" style="margin-top: 15px;margin-left: 27px;">
                <label for="onstart" style="margin-left: 8px; margin-top: 15px; color: #0c0c0c;">Автовоспроизведение</label>
                <br/>




                <div class="d_buttons"  style="margin-top: 51px;">
                    <a id="save-btn">Да</a>
                    <a id="close-btn">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------Content Field edit template--------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="content-field-edit" type="text/x-jquery-tmpl">
    <div class="edit_page">
        <div class="dialog_container">
            <div class="wrap"></div>
            <div class="dialog" style="left: 50%; top: 50%;overflow: visible; margin-left: -226.5px; margin-top: -128.5px; position: absolute; z-index: 999999999999">
                <div class="d_title">
                    <span>Настройка области</span>
                    <a title="Закрыть" class="d_close" logic="close"></a>
                </div>
                <div class="d_body">
                    <div class="signe" style="padding-top: 5px;">
                        Основные настройки
                                <span>
                                    <!-- При этом все проекты будут утеряны -->
                                </span>
                    </div>
                    <div style="text-align: left">
                        <div class="main_settings">
                            <div class="border_bg_grey">
                                <label style="width: 65px; display: inline-block">Высота:</label>
                                <input id="field-height" style="width:80px;height: 22px; margin-right: 16px;" type="text"/>
                                <label style="width: 65px; display: inline-block">Ширина:</label>
                                <input id="field-width" style="width:80px;height: 22px;" type="text"/>
                            </div>

                            <div class="border_bg_grey">
                                <label style="width: 165px; display: inline-block">Фоновое изображение:</label>
                                <input id="background-image" style="width:320px;height: 22px;" type="text"/>
                            </div>
                            {{if mainPage}}
                            <div class="border_bg_grey"><label style="width: 165px; display: inline-block">Стоп-траффик:</label>
                                <input id="trap" style="width:320px;height: 22px; margin-right: 5px;" type="text"/><input id="trap-active" type="checkbox" style="width: 13px; height: 13px;"/></div>
                            <div class="border_bg_grey"><label style="width: 165px; display: inline-block">Ключевые слова:</label>
                                <input id="keywords" style="width:320px;height: 22px;" type="text"/></div>
                            <div class="border_bg_grey"><label style="width: 165px; display: inline-block">Favicon:</label>
                                <input id="favicon" style="width:320px;height: 22px;" type="text"/></div>
                            <div class="border_bg_grey"><label style="width: 165px; display: inline-block">Заголовок страницы:</label>
                                <input id="title" style="width:320px;height: 22px;" type="text"/></div>
                            {{/if}}
                        </div>
                        <div class="signe" style="padding-top: 5px; margin-top: 35px;">
                            Дополнительные настройки
                                    <span>
                                        <!-- При этом все проекты будут утеряны -->
                                    </span>
                        </div>
                        <div class="main_settings advanced_settings">
                            {{if textColorEdit}}
                            <div class="for_col_pic">

                                <label for="text">Текст</label>
                                <div class="border_bg_grey">
                                    {{tmpl "#color-picker-tmpl" }}
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            {{/if}}
                            <div class="for_col_pic">
                                <label for="border">Рамка</label>
                                <div class="border_bg_grey">
                                    {{tmpl "#edit-border" }}
                                    {{tmpl "#color-picker-tmpl" }}
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="for_col_pic">
                                <label for="bg">Фон</label>
                                <div class="border_bg_grey">
                                    {{tmpl "#color-picker-tmpl" }}
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>

                        </div>
                    </div>
                    <div class="d_buttons"  style="margin-top: 51px;">
                        <a id="save-btn" >Да</a>
                        <a id="close-btn">Отмена</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;"> {{tmpl "#edit-border" }}

            {{tmpl "#color-picker-tmpl" }}
            {{tmpl "#save-close-btns" }}</div>
        </div>

</script>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-----------------------Yes/No btns----------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="yes-no-btns" type="text/x-jquery-tmpl">
    <div>
        <div style="float: none; width: auto; "class="saves">
            <a id="save-btn" style="position: absolute;left:0; bottom: 0;" class="save" href="#">Да</a>
            <a id="close-btn" style="position: absolute;right:0; bottom: 0;" class="save" href="#">Нет</a>
        </div>
</script>

<!--Info message-->
<script id="info-message" type="text/x-jquery-tmpl">
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog" style="left: 50%; top: 50%; margin-left: -226.5px; margin-top: -128.5px; position: absolute; z-index: 999999999999">
            <div class="d_title">
                <span></span>
                <a title="Закрыть" class="d_close" logic="close"></a>
            </div>
            <div class="d_body">
                {{if input}}
                <input style="width: 412px;height:30px;font-weight:700;font-size:15px;" value="${message}"/>
                {{else}}
                {{html message}}
                {{/if}}
                <div class="d_buttons"  style="margin-top: 125px;">
                    <a id="close-btn">Закрыть</a>
                </div>
            </div>
        </div>
    </div>
</script>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Template for edit audio-->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->


<script id="edit-audio" type="text/x-jquery-tmpl">
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog" style="left: 50%; top: 50%; margin-left: -226.5px; margin-top: -128.5px; position: fixed; z-index: 999999999999">
            <div class="d_title">
                <span></span>
                <a title="Закрыть" class="d_close" logic="close"></a>
            </div>
            <div class="d_body">
                <div class="signe" style="padding-top: 5px;">
                    Ссылка на аудио файл
                                                <span>
                                                    <!-- При этом все проекты будут утеряны -->
                                                </span>
                </div>
                <input id="img-src-edit" class="text d_input" type="text" style="width: 80%; color: #7F7E7C;font-size: 16px; font-weight: normal;font-family: 'Segoe UI';" /><br/>
                <span style="color: #797979;font-size: 10px; margin-left: 27px;">Например: asdhttp://capture-sys.ruelsoft.org/sound.mp3</span><br/>
                <input id="onstart" type="checkbox" style="margin-top: 15px;margin-left: 27px;" /><label style="margin-left: 8px; margin-top: 15px; color: #0c0c0c;" for="onstart">Воспроизводить при загрузке страницы</label>
                <div style="margin-left: 27px;margin-top: 10px;">
                    <img id="player-preview" src="https://demo.appsruel.com/static/img/elements/audio-view_s1.jpg" alt="player" style="float: right;" />
                    <select id="player-type">
                        <option value="1">Стандартный</option>
                        <option value="2">Стиль №2</option>
                        <option value="3">Стиль №3</option>
                        <option value="4">Стиль №4</option>
                        <option value="5">Стиль №5</option>
                    </select>
                    <div style="clear: both;"></div>
                </div>
                <div class="d_buttons"  style="margin-top: 51px;">
                    <a id="save-btn" >Да</a>
                    <a id="close-btn">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------Templates dialog---------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="templates-dialog" type="text/x-jquery-tmpl">
    <div>
        {{if tmpls.length==0}}
        У вас нету сохранённых шаблонов.
        {{else}}
        <div class="pages-dialog">
            В этом окне отображаются все сохраненные проекты.<b/>
            Вы можете редактировать их, нажав на название.
            <div class="items">
                {{each(i,content) tmpls}}
                {{if i<6}}
                {{tmpl(content) "#templates-pages-dialog-item"}}
                {{/if}}
                {{/each}}

            </div>
            <div class="pages">
                Страницы:
                {{each(i,page) pages}}
                {{if i==0}}
                <a class="select">${i+1}</a>
                {{else}}
                <a class="not-select">${i+1}</a>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}
        </div>
</script>


<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="templates-pages-dialog-item" type="text/x-jquery-tmpl">
    <div id="${id}" class="item">
        <a class="name">
            {{if tmpl_name}}
            ${tmpl_name}
            {{else}}
                                                    <span id="full-link">
                                                        http://<?php echo strtolower(Zend_Registry::get("userdata")->username) ?>.ruelsoft.org/${name}/
                                                    </span>
            {{/if}}
        </a>
        <div class="buttons">
            <a class="view">Просмотр</a>
            <a class="html">HTML</a>
            <a class="getlink">Получить ссылку</a>
            {{if typeof tmpl_name=='undefined'}}
            <a class="as-template">Открыть как шаблон</a>
            {{/if}}
        </div>
        <span class="date">Дата последнего изменения:${ $.parseDate(last_edit) }<a class="trash"></a></span>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------Pages dialog---------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script  id="pages-dialog" type="text/x-jquery-tmpl">
    <div class="pages-dialog">
        {{if data.length==0}}
        У вас нету сохранённых страниц.
        {{else}}
        В этом окне отображаются все сохраненные проекты.<b/>
        Вы можете редактировать их, нажав на название.

        <div class="selects">
            Выводить по: <select>
            <option value="date">Дате создания</option>
            <option value="link">Ссылке</option>
        </select>
        </div>
        <div class="items">
            {{each(i,content) data}}
            {{if i<5 }}
            {{tmpl(content) "#templates-pages-dialog-item"}}
            {{/if}}
            {{/each}}
        </div>
        <div class="pages">
            Страницы:
            {{each(i,page) pages}}
            {{if i==0}}
            <a class="select">${i+1}</a>
            {{else}}
            <a class="not-select">${i+1}</a>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}
    </div>

</script>

    <script id="name-tmpl" type="text/x-jquery-tmpl">
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog">
            <div class="d_title">
                <span>${title}</span>
                <a title="Закрыть" logic="close" class="d_close"></a>
            </div>
            <div class="d_body">
                <div class="signe">${question}
                    <span>Имя папки так же может содержать русские буквы, не более 20 символов</span>
                </div>
                <input placeholder="Введите имя здесь..." class="d_input" />
                <div class="d_buttons"><a logic="ok">Ок</a><a logic="cancel">Отмена</a></div>
            </div>

        </div>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!----------------------Question form----------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="question" type="text/x-jquery-tmpl">
    <div>
        {{html question}}
        {{tmpl "#yes-no-btns"}}
    </div>
</script>
<script id="page-name-question" type="text/x-jquery-tmpl" >
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog">
            <div class="d_title">
                <span></span>
                <a title="Закрыть" logic="close" class="d_close"></a>
            </div>
            <div class="d_body">
                <div class="signe">Придумайте имя для проекта
                    <span>Название должно быть набрано маленькими английскими буквами, не более одного слова</span>
                </div>
                <input placeholder="Введите название страницы..." id="page-name-edit" class="d_input" />
                <div class="d_buttons">
                    <a id="save-btn" >Сохранить</a>
                    <a id="close-btn">Отмена</a></div>
            </div>

        </div>
    </div>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------Edit link------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script id="link-edit" type="text/x-jquery-tmpl" >
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog" style="left: 50%; top: 50%; margin-left: -226.5px; margin-top: -128.5px; position: absolute;font-family: 'Arial', 'Helvetica', 'sans-serif'; overflow: visible; z-index: 999999999999">
            <div class="d_title">
                <span>Настройка ссылки</span>
                <a title="Закрыть" class="d_close" logic="close"></a>
            </div>
            <div class="d_body">
                <div class="signe" style="padding-top: 5px;">
                    Основные настройки
                                                                                <span>
                                                                                    <!-- При этом все проекты будут утеряны-->
                                                                                </span>
                </div>
                <div class="main_settings">
                    <div class="border_bg_grey">
                        <label>Текст:</label>
                        <input id="link-text-edit" type="text"/>
                    </div>
                    <div class="border_bg_grey">
                        <label>Ссылка:</label>
                        <input id="link-edit" type="text"/>
                    </div>
                    <input type="checkbox" style="margin-top: 15px;" id="blank"><label for="blank" style="margin-left: 8px;">Открывать в новой вкладке</label><br/>
                    <input type="checkbox" style="margin-top: 10px;" id="decoration"><label for="decoration" style="margin-left: 8px;">Подчеркивать ссылку</label>
                    <div class="preview_link">
                        <a id="link" href="/"></a>
                    </div>
                </div>
                <div class="signe" style="padding-top: 5px;">
                    Дополнительные возможности
                                                                                <span>
                                                                                    <!-- При этом все проекты будут утеряны-->
                                                                                </span>
                </div>
                <div class="main_settings advanced_settings">
                    <div class="for_col_pic">
                        <label for="text">Текст</label>
                        <div class="border_bg_grey">
                            <span style="display: block; float: left; margin-top: 3px; margin-right: 3px;">Размер</span>
                            <input id="text-height-edit" type="text" style="float: left; margin: 0; margin-top: 3px; margin-right: 2px;">
                            <div style="display: inline-block; height: 16px; width: 8px; float: left; margin-top: 3px;">
                                <a id="row-up" href="#"></a>
                                <a id="row-down" href="#"></a>
                            </div>
                                                                                        <span style="display: inline-block;float: left;" class="font_option">
                                                                                            <span style="display: inline-block; float: left; margin-left: 7px;" id="text-bold"></span>
                                                                                            <span style="display: inline-block; float: left;" id="text-italic"></span>
                                                                                        </span>
                            {{tmpl "#color-picker-tmpl" }}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="for_col_pic">
                        <label for="border">Рамка</label>
                        <div class="border_bg_grey">
                            {{tmpl "#edit-border" }}
                            {{tmpl "#color-picker-tmpl" }}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="for_col_pic">
                        <label for="bg">Фон</label>
                        <div class="border_bg_grey">
                            {{tmpl "#color-picker-tmpl" }}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="d_buttons"  style="margin-top: 51px;">
                    <a id="save-btn">Да</a>
                    <a id="close-btn">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</script>




<script id="additional-panel-el" type="text/x-jquery-tmpl" >
    {{if isGlobal}}
    <div class="elem_item">
        {{/if}}
        <ul id="panel-${id}">

            <li class="element_block"><span class="${elClazz}"></span><span class="text-wrapper">${elName}</span>
                <span class="elem_edit"></span>
                <span class="elem_delete"></span>
                <span class="clear"></span>
            </li>
        </ul>
        {{if isGlobal}}
    </div>
    {{/if}}
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Edit html -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<script id="edit-html" type="text/x-jquery-tmpl" >
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog" style="left: 50%; top: 50%; margin-left: -226.5px; margin-top: -128.5px; position: absolute;font-family: 'Arial', 'Helvetica', 'sans-serif'; overflow: visible; z-index: 999999999999">
            <div class="d_title">
                <span>Вставка HTML-кода</span>
                <a title="Закрыть" class="d_close" logic="close"></a>
            </div>
            <div class="d_body" style="text-align: center;">
                <textarea style="width:400px;height: 200px;"></textarea>


                <div class="d_buttons"  style="margin-top: 31px;">
                    <a id="save-btn">Да</a>
                    <a id="close-btn">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Edit BORDER -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->


<script id="edit-border" type="text/x-jquery-tmpl" >

    <div style="float: left; height: 24px; margin-top: 1px;"><div style="float: left; margin-left: 0; margin-top: 0;" class="buttons">
        <div data-border="dashed" class="but1"></div>
        <div data-border="inset" class="but2"></div>
        <div data-border="outset" class="but3"></div>
        <div data-border="double" class="but4"></div>
        <div data-border="none" class="but5"></div>
    </div>
    </div>
    <div style="float: left;  height: 24px; margin-top: 3px;">
        <span style="float: left; display: block; margin-right: 2px; margin-top: 2px;">Толщина:</span><div style="float:left;">
        <select style="float: left;" id="btn-border-size">
            <option value="0">Нет</option>
            <option value="1">1px</option>
            <option value="2">2px</option>
            <option value="3">3px</option>
            <option value="4">4px</option>
            <option value="5">5px</option>
            <option value="6">6px</option>
            <option value="7">7px</option>
        </select></div>
    </div>
</script>
<script id="questions" type="text/x-jquery-tmpl" >
    <div class="dialog_container">
        <div class="wrap"></div>
        <div class="dialog">
            <div class="d_title"><span></span><a class="d_close" logic="close" title="Закрыть"></a></div>
            <div class="d_body">
                <div class="signe">{{html question}}
                    <span>&nbsp;<!-- При этом все проекты будут утеряны --></span>
                </div>
                <div id="save-btn" class="d_buttons"><a logic="ok">Да</a><a id="close-btn" logic="cancel">Отмена</a></div>
            </div>
        </div>
    </div>
</script>



<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<script id="test_open" type="text/x-jquery-tmpl">
    <div class="dialog_container"><div class="wrap"></div> <div class="dialog files brd_rds_5px"><div class="d_title"><span>Мои проекты</span><a class="d_close" logic="close" title="Закрыть"></a></div>
        <div class="brd_brown_1">
            <div class="d_body">
                <div class="file_work">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table_file">
                        <tr class="relat_block">
                            <td class="left">
                                <div class="scroller">
                                    <div class="s_body">
                                        <div class="header">Работа с папками</div>
                                        <hr class="line_4px shadow_new_vers no_mrg" />
                                        <div class="content">
                                            <a class="create">Создать папку</a>
                                            <a  class="rename">Переименовать</a>
                                            <a  class="delete">Удалить</a>
                                            <hr class="line_4px shadow_new_vers" />
                                            <a class="main_dir"><span>Мои проекты<span></a>
                                            <div id="directs">

                                            </div>
                                        </div></div></div></td>
                            <td class="right">
                                <div class="right">
                                    <div class="working_with_projects">
                                        <div class="f_search">
                                            <input id="search-input" type="text" placeholder="Поиск" />
                                            <a id="do-search" href="#">&nbsp;</a>
                                        </div>
                                        <p style="padding-top: 11px; padding-left: 22px; color: #48443E;">Работа с проектами</p>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="header">
                                        <div class="button_navig" style="float: none;">
                                            <a logic="open-template" class="button_view">Редактировать</a>
                                            <a class="button_view remove">Переместить</a>
                                            <a class="button_view">Получить ссылку</a>
                                            <a logic="delete-project" class="button_view">Удалить</a>
                                            <a logic="rename-project" class="button_view">Переименовать</a>
                                        </div>

                                        <div class="content">
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr class="first_line">
                                                    <td></td>
                                                    <td id="by-name" class="two_tree_child">Имя</td>
                                                    <td id="by-link" class="two_tree_child">Ссылка</td>
                                                    <td id="by-date" class="four_child">Дата изминения</td>
                                                </tr></table>
                                            <div class="cont_main">
                                                <table id="file_list" border="0" cellpadding="0" cellspacing="0">

                                                </table>
                                            </div>
                                            <div class="end_table_content"></div>
                                        </div>
                                    </div>

                            </td>
                        </tr>
                    </table>

                </div>


            </div>
            {{if save}}
            <div class="input_for_save"> Введите имя проекта:
                <input id="project-name" type="text"/>
            </div>
            {{/if}}

            <div class="bottom_but">

                <div class="for_buts">
                    {{if save}}
                    <a logic="save-template" class="open">Сохранить</a>
                    {{else}}
                    <a logic="open-template" class="open">Открыть</a>
                    {{/if}}
                    <a logic="close" class="close">Отменить</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div></div>
</script>
<!-- Move project -->
<script id="move-projects" type="text/x-jquery-tmpl">
    <div class="dialog_container">
        <div class="questiondiag">
            <div class="wrap"></div>
            <div class="dialog">
                <div class="d_title">
                    <span>Перемещение проектов</span>
                    <a title="Закрыть" logic="close" class="d_close"></a>
                </div>
                <div class="d_body">
                    <div class="f_scroller">
                        Выберите папку, в которую хотите перенести проекты:
                        {{each(i,project) projects}}
                            ${project.human_name} <br/>
                        {{/each}}
                        <div class="replacetags">
                            <a logic="folder" id="0" class="main_dir"><span>Главная папка</span></a>
                            <div class="dirs">
                                {{each(i,folder) folders}}
                                <a logic="folder" id="${folder.id}" ><span>${folder.name}</span></a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="d_buttons" style="margin-top: 30px;"><a class="move-projects">Переместить</a><a logic="cancel">Отмена</a></div>
                </div>

            </div>
        </div>
    </div>
</script>
{% endverbatim %}